[2015-03-03 22:41] mivoligo opened #1 "Ubuntu Suru icons"
Hi,
Can you add Ubuntu Suru icons to the collection, please? These icons are used in the Ubuntu for phones at the moment. Link to the source files: http://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-themes/trunk/files/head:/suru-icons/
Many thanks

[2015-03-04 06:42] Xaviju commented on #1
Hi @mivoligo
They look really nice, but sadly they are not clean (look at the difference with the google material design code icons), they need to be cleaned up in order to be easily converted to symbols and this will take a lot of time.
I can not afford enough time to do that right now but if anyone is willing to do this I will be happy to help, step by step, on how to create the first one.
In an

[2015-03-04 09:44] mivoligo commented on #1
Thanks for quick answer. Let me know how to "clean them up". I can give it a shot in my spare time.

[2015-03-04 12:13] Xaviju commented on #1
I have written [an article](https://medium.com/@xaviju/creating-your-own-symbol-library-in-inkscape-0-91-and-make-your-front-end-developer-you-338588137aaf) that you might find useful to start.
There is an example on the root folder called a "[template.svg](https://github.com/Xaviju/inkscape-open-symbols/blob/master/template.svg)" where you can see how it should look like.

If you make the first o

[2015-03-04 12:32] mivoligo commented on #1
OK, so the most important thing is that one icon should be made of paths, right? Also I found this video: https://www.youtube.com/watch?v=jdaGB0zCdHw Is it fine to put all together like in the video, when the icons are cleaned?

[2015-03-04 12:39] Xaviju commented on #1
Nice video.
Let's do some experiment, create the icons from the UI and send a PR with the result and lets check how it looks. I'm not sure that it will be as useful as if we make it manually but might be enough for the beggining. If necesary, I'll clean the inkscape and sodipodi extra info.
The idea behind the cleaning is that the same icons, just its code copied and pasted, could be useful for fr

[2015-03-04 12:55] mivoligo commented on #1
I'll try to do that in the evening and let you know.

[2015-03-04 18:55] Xaviju commented on #1
nice :+1:

[2015-03-04 23:13] mivoligo commented on #1
I've made a test set with 10 icons. I didn't change anything in them, just did like it was shown on that video. Take a look at PR. I'm afraid it does not look good.
BTW I'm rather new in using github so please excuse if I messed something up ;)

[2015-03-04 23:35] Xaviju commented on #1
Hi @mivoligo I just saw the code and looks a little bit complicated, but I need to test it more to be sure. I made a test symbol library with my own created symbols from the UI ([see the update!](https://github.com/Xaviju/inkscape-open-symbols/wiki/Humble-UI)) and something can be done but not much. The SVG code its not perfect, but enough for designers.
I'll be out until sunday but I will test it

[2015-03-08 19:53] Xaviju commented on #1
Reference for this issue: https://github.com/Xaviju/inkscape-open-symbols/pull/3

[2015-03-11 21:41] Xaviju opened #6 "Edit Ubuntu Suru Icons to make them fully editable"
Suru Icon Set comes with a inlined styles in the SVG. That makes them hardly usable in the UI because does not allow the user to edit the icon colors.
This symbols set need the be cleaned up to remove inkscape and ubuntu suru junk code.

[2015-03-12 20:30] #1 closed

[2015-03-28 19:05] Xaviju opened #7 "Edit font awesome icons to make them fully editable"
It is currently not possible to edit its colors because they are hard coded in the SVG

[2015-03-29 00:32] noorstudies opened #8 "Symbols path for Inkscape OS X Native"
Just a note for possible add to the README.md. For Inscape OS X native version, not the XQuartz version. The path is: ~/Library/Application Support/org.inkscape.Inkscape/inkscape/symbols

[2015-03-29 10:45] su-v commented on #8
Experimental unstable "OS X native builds" are not "official" Inkscape packages. The location of the inkscape user profile used with those packages may change any time (since those packages are still work-in-progress, and the changes have not been merged into Inkscape trunk). As packager of osxmenu builds, I would rather not see that path mentioned in README files of other projects at this stage.

[2015-03-29 18:14] noorstudies commented on #8
I find the path strange as well. However it took me a moment to figure out why the symbols were not loading. When following the README.

[2015-03-29 19:25] su-v commented on #8
[off-topic]
@noorstudies wrote:

TBH I do not find it _that_ strange (I chose that location myself ;-) ), but since the osxmenu branch is work-in-progress, do not rely on any detail being final. The osxmenu packages include a custom extension BTW which opens a Finder window at the location of the user inkscape profile (to ease testing unstable experimental osxmenu builds). Also, the exact location

[2015-03-30 01:36] noorstudies commented on #8
I understand what your saying. I learned about osxmenu from someone less puter savvy then myself. Which isn't saying alot. Since I don't know all/much. This was actually the first time I 'needed' to open up Inkscape's preference panel/window/whatever-doo-hicky. BTW I find r12896 to be very stable. Aside from occasionally refusing to quit right away. Oh and org.inkscape.Inkscape/inkscape threw me a

[2015-03-30 01:37] #8 closed

[2015-03-30 05:28] Xaviju commented on #8
Thanks @su-v for your help! :+1:

[2015-03-30 05:29] Xaviju commented on #7
In progress!

[2015-03-30 09:36] su-v commented on #8
@noorstudies

Latest is [r12911](https://code.launchpad.net/~suv-lp/inkscape/osxmenu) (based on Inkscape trunk r14020), and a newer upload is planned for this week. Inkscape-osxmenu r12902 and later no longer include custom themes for now (defaults to regular GTK2 Adwaita and Inkscape's default icons).

@Xaviju - on another unrelated topic: I had been working on (manually) converting GNOME symboli

[2015-03-30 13:54] Xaviju commented on #8
@su-v great extension! I'll test it as soon as possible. I've also downloaded the icons you created from the bzr repo and test how the generated code looks like. :)

[2015-03-30 14:28] su-v commented on #8
@Xaviju - the current symbols sets of the gnome symbolic icons were created **manually** (in inkscape, but with heavy usage of the built-in XML editor). The extension I then started working on (not finished) is in most parts based on that experience, trying to minimize a few of the repetitive tasks.

The largest part of the work I spent time with when working on the symbol sets for those icons tho

[2015-03-30 18:37] su-v commented on #8
Just a quick example of Font-Awesome as (re-colorable) Inkscape symbol set, created (with Inkscape 0.91+devel) based on the SVG sprites file from https://github.com/encharm/Font-Awesome-SVG-PNG (sprites.svg), with help of the utilities provided by the [symbol tools extension](http://bazaar.launchpad.net/~suv-lp/+junk/inkscape-extensions/files/head:/symbols/) (WIP):

Result: https://www.dropbox.com

[2015-03-30 19:21] Xaviju commented on #8
@su-v as I use the icons mostly for frontend development I use to do some more repetitive tasks than usual but this is more or less the pains that my team found, probably not very different from yours:
- Creating the icons from the UI requires doing it one to one. In any case, if its not done one per one, it's hard for the UI to know what is an icon and what is not when them are composed of more t

[2015-03-30 19:58] su-v commented on #8
@Xaviju

I won't comment right now on what are inkscape-specific questions (I am not a core inkscape developer myself, and topics like for example why Inkscape enforces IDs on all elements (IIRC mentioned in the Inkscape FAQ), and what plans might be in this regard for the future (maybe make this optional) is certainly getting really off-topic here).

There is no documentation available at this st

[2015-04-01 17:55] Xaviju commented on #6
Fixed here https://github.com/Xaviju/inkscape-open-symbols/commit/7d2c01d627500210d24bae385002ad0912524c57

[2015-04-01 17:55] Xaviju commented on #7
Fixed here https://github.com/Xaviju/inkscape-open-symbols/commit/7d2c01d627500210d24bae385002ad0912524c57

[2015-04-01 17:55] #7 closed

[2015-06-11 09:16] Xaviju opened #10 "Update material design icons with new release fixes"
Chek it out here
http://materialdesignicons.com/

[2015-08-10 11:22] PanderMusubi opened #12 "Add Genericons"
Please add Genericons https://github.com/Automattic/Genericons You can drop me a line for testing again of you want. Thanks

[2015-11-02 10:24] PanderMusubi opened #14 "Support iconset Dutch government"
Please support icon set fo Dutch government https://www.rijkshuisstijl.nl/bouwstenen/beeld/iconen-en-pictogrammen

This is related to https://github.com/PanderMusubi/rijkshuisstijl-paletten-kleurverlopen If needed I can do translation and testing of the set.

[2015-11-02 20:41] Xaviju commented on #14
I cannot find a way to download the icon set from the website in SVG format. Can you help get the icon set?

[2015-11-02 22:09] Xaviju commented on #12
Started working on this icons: https://github.com/Xaviju/inkscape-open-symbols/commit/111106b96ce4c53e19839307d26a9e97eea9200f

[2015-11-06 21:07] Xaviju commented on #12
Added here: https://github.com/Xaviju/inkscape-open-symbols/commit/2c13fc3c91f7a37ac642826766a7552cd9d7c8ca

Please test and add issues if required.

Thanks!

[2015-11-06 21:07] #12 closed

[2015-11-07 13:56] victorwestmann opened #15 "Link in project not working"
Hi there. Very happy to have found this project. Already installed in my Windows system and it works perfectly.

One question though: the link that would teach me how to create new symbol libraries in Inkscape is not working: https://github.com/Xaviju/inkscape-open-symbols/blob/master/Creating%20symbol%20libraries%20in%20Inkscape

Is it wrongly linked or doesn`t it exist?

[2015-11-07 14:01] victorwestmann opened #16 "New icon library proposal for next major release"
Hi there. I`d like to propose a new icon set in the next verion of inkscape-open-symbols project.

That would be : https://erikflowers.github.io/weather-icons/

Thanks! :smile:
_(I'd like to help if needed. By doing this I'll learn all the process and spare you some time. hehe)_

[2015-11-07 14:14] victorwestmann commented on #6
Is there a way I can help on this matter? I'd only need instructions before starting though. :smiley:

[2015-11-07 14:16] victorwestmann opened #17 "Add information in README.MD on how to convert symbols to paths"
Such as:

How to convert symbols to paths in Inkscape?
1. Go to Edit > Clone > Unlink (shift + Alt + D),
2. Ungroup (Shift + Ctrl + G),
3. Profit!

Hope it helps!

[2015-11-08 12:07] Xaviju commented on #16
Hi @victorwestmann I wrote an article on how to create your own symbol library: https://medium.com/@xaviju/creating-your-own-symbol-library-in-inkscape-0-91-and-make-your-front-end-developer-you-338588137aaf

[2015-11-08 12:08] Xaviju commented on #15
It is working for me, this is the right link on the README.md https://medium.com/@xaviju/creating-your-own-symbol-library-in-inkscape-0-91-and-make-your-front-end-developer-you-338588137aaf

[2015-11-08 12:10] Xaviju commented on #17
Not sure if it should be added to the readme because its not part of the symbol library development process but instead an inkscape feature to convert symbols to paths and edit them, where do you think it should be added? How are you using it to create symbols?

[2015-11-08 12:19] Xaviju commented on #6
Hi @victorwestmann and thank for your help!!
The problem with the Ubuntu Suru icons is that the symbols are not clean. It has a lot of information about styles that should be removed.

An example, the current symbol in the file ```suru-icon-devices.svg```
Currently, it looks like this:
[code]

A clean symbol should look something like this (this is the first symbol in the file ```suru-icon-devices

[2015-11-09 00:40] victorwestmann commented on #16
Will try to help this become real. But it should be a nice addition for the list in README.MD I think.

[2015-11-09 00:42] victorwestmann commented on #17
Maybe you`re right. This is not needed or helpful to create the library
symbols but to use them. You can close this issue if you wish then. Just
tried to add more useful info to the libraries.

--Victor Westmann

2015-11-08 10:10 GMT-02:00 Xaviju <notifications@github.com>:

[2015-11-09 10:15] victorwestmann commented on #6
I'd really like to help but my browser did not display the SVG source code
correctly. I still have some doubts. Could you please advise? When do you
have the time to tutor me? Once I understand this, maybe, I can help with
other conversions. What do you say?

--Victor Westmann

2015-11-08 10:19 GMT-02:00 Xaviju <notifications@github.com>:

[2015-11-09 11:05] victorwestmann commented on #17
This video could be added alongside your link. I believe it would be very useful for new contributors.

[2015-11-09 12:05] mivoligo commented on #6
As I was the one who converted Suru icons to Inkscape symbols, I need to speak up. Thing is there's already new set of Suru icons for Ubuntu and almost all of those which I transformed are outdated. Unfortunately I don't currently have time to update the set :(
@victorwestmann if you want to work on it, here's link to the repository with up to date icons: http://bazaar.launchpad.net/~ubuntu-art-pk

[2015-11-09 12:11] victorwestmann commented on #6
Hi there, If you tell me this link works (the instructions it provides) I
can ty to help. :)

https://www.youtube.com/watch?v=jdaGB0zCdHw [image: :+1:]

Cheers!

--Victor Westmann

2015-11-09 10:05 GMT-02:00 Michał <notifications@github.com>:

[2015-11-09 12:31] mivoligo commented on #6
It does work, yes.
You can try with a few icons and show here what you achieved. @Xaviju will tell you if they're fine or not.

[2015-11-09 14:41] PanderMusubi commented on #15
Are you sure that this is fixed for the README.md?

[2015-11-09 14:48] victorwestmann commented on #15
It is not the end of the world.... but indeed there is a dead link in README.MD :)

[2015-11-09 14:57] PanderMusubi opened #18 "Support iconset Dashicons from WordPress"
Please, support iconset Dashicons from WordPress. Sources are found at https://github.com/WordPress/dashicons and examples are found at https://developer.wordpress.org/resource/dashicons/

License is GPLv2

[2015-11-09 15:02] PanderMusubi commented on #12
Test OK. Thanks!

You can add http://genericons.com/ to the README.md for these icons.

[2015-11-09 15:19] victorwestmann commented on #18
You can also help us make this library become available! Help us out!

a.) Follow the link: https://www.youtube.com/watch?v=jdaGB0zCdHw
b.) And download the font in the URL: https://s.w.org/wp-includes/fonts/dashicons.ttf

1.) I believe that you should install this font in your system
2.) Open Inkscape
3.) Try to use each font glyph for it to appear in Inkscape canvas
4.) and follow the video inst

[2015-11-09 15:32] PanderMusubi commented on #14
This is pending until I get access to the SVG files.

[2015-11-09 15:39] PanderMusubi opened #19 "Have mainline builds for Inkscape include these symbols sets"
Please discuss with Inkscape maintainers to include these symbols sets in main builds for all platforms. see also https://bugs.launchpad.net/inkscape/+bug/1464270

[2015-11-09 15:43] PanderMusubi opened #20 "Support iconset DIN EN ISO 7010"
Please support iconset DIN EN ISO 7010

See for sources and examples:

https://commons.wikimedia.org/wiki/Category:ISO_7010_safety_signs_%28vector_drawings%29

https://de.wikipedia.org/wiki/DIN_EN_ISO_7010

Note that you can use them with and without transparency. See https://commons.wikimedia.org/wiki/File:PublicInformationSymbol_EmergencyExit.svg and https://commons.wikimedia.org/wiki/File:ISO_7

[2015-11-09 15:48] PanderMusubi opened #21 "Errors in GNOME action and app symbols"
While testing all symbols today, I found the following error on the command line while starting Inkscape and having all SVG files from this project installed in ~/.config/inkscape/symbols Please fix this and let me know when I can retest this.

    ~/.config/inkscape/symbols/gnome-action.svg:191: parser error : StartTag: invalid element name
            < </symbol>
             ^
    ~/.config/ink

[2015-11-09 15:51] victorwestmann commented on #6
Is there an easy way to egt the SVG icons or should I download them one by one separately?
Do I need bazaar in my machine to do this? Or is there an option to download files in the Ubuntu Project without needing to install extra apps?

[2015-11-09 17:43] Xaviju commented on #16
If you make a PR with this icon set as a symbol you will be added to the contributors list both in the README (as currently happens with other contributors) and in the github repo contributors list (this is automatically done). You can do it yourself and add it to the readme in the same PR if you want to :)

[2015-11-09 17:45] Xaviju commented on #18
Thanks for the idea @PanderMusubi the icons look great.

[2015-11-09 17:49] Xaviju commented on #19
Thats great! I would love to see this icons, or some of them, as default inkscape symbols!
I think I will add a message in the README so users can vote if they want this icons to be in future inkscape versions.

[2015-11-09 17:50] Xaviju commented on #20
Great addition again, thanks for the resource

[2015-11-09 17:51] Xaviju commented on #21
Seems like the code is broken somewhere, great catch @PanderMusubi !!

[2015-11-09 18:02] #15 closed

[2015-11-09 18:07] #17 closed

[2015-11-09 18:10] Xaviju commented on #17
Wow, that was fast! Thanks @victorwestmann

[2015-11-09 18:52] victorwestmann commented on #15
I sent a pull request with minor additions to the file. Hope it helps! :)

[2015-11-09 20:12] mivoligo commented on #6
hmmm... I don't think so. You can pull all repo with bzr. Well, actually I can do that, zip the icons only and attach here.

[2015-11-09 20:21] mivoligo commented on #6
Here you go https://drive.google.com/file/d/0B-dxkPxzoijrNk1EQTd5UEtOSE0/view?usp=sharing

[2015-11-09 20:23] Xaviju commented on #6
thanks @mivoligo

[2015-11-09 20:57] victorwestmann commented on #6
I don't know why but it does not work here. Maybe it's me. Maybe it's google. Hard to know.

[2015-11-12 23:26] victorwestmann commented on #19
I agree. Having these good looking symbols embedded in Inkscape would be a great addition to the project. :+1:

[2015-11-12 23:27] victorwestmann commented on #16
Done. :smile:

[2015-11-13 11:53] Xaviju commented on #16
I cannot see any PR with this symbol set, are you sure you made it?

[2015-11-13 13:17] victorwestmann commented on #16
I though I just needed to put the name inside the README.MD. Do you want me to personally convert all icons to a new library icon set then?

To be honest I also tried to do that. But failed. Need to investigate a little more on how to do this. Could you advise? It's a font that has icons in it.

[2015-11-13 15:19] Xaviju commented on #16
@victorwestmann sorry for the misunderstanding
There is only one way to be added to the README.md: contribute with a set of inkscape symbols. Otherwise contributors are automatically added here: https://github.com/Xaviju/inkscape-open-symbols/graphs/contributors
If you add a new set of icons (or help fixing a 'help wanted' issue) your name will be added to the Readme next to the icon set that you

[2015-11-23 21:15] victorwestmann commented on #16
I did a small set of icons (SURU - Actions) and it is available right here: https://www.dropbox.com/s/9ybojfeqk05uv15/actions%20scalable%20all.svg?dl=0

230 kb. It was a lot of work but I believe it will work. Can someone, please, test it? :)

[2015-11-24 07:57] Xaviju commented on #16
Wow!!!
It works like a charm, but some fixes could be done before PR to improve it:
- Remove the <use> tag at the end of the file. It does not need it, inkscape will create it in the document by itself. Will reduce its size.
- Remove the Ids. It does not need it.
- Add a title tag to every icon with its name: currently you have ids like ``id="symbol25750"``
- Remove inkscape trash: Inkscape tags l

[2015-11-24 14:43] victorwestmann commented on #16
I used the Inkscape XML editor all the time. About the symbols having a name I agree it`s a good idea. The hell of it is that, doing this manually, is a LOT of work. Can`t we make a macro or python small script to ge the file name and replace the id tag inside the SVG file with the filename? :)

Another thing... is there a way we can ADD all symbols at once? Like a massive import? This would also

[2015-11-24 14:44] victorwestmann commented on #6
This issue is strongly related to the https://github.com/Xaviju/inkscape-open-symbols/issues/16 ;)

[2015-11-24 14:47] Xaviju commented on #16
Hi @victorwestmann
To make them I used to use SVGO and then fix the broken SVGS by replaceing them.
Then I used to add the names manually. Yes,its a lot of work.

I am currently working on a python script to create a symbol by using SVGO first and then adding the name of the icon based on the file. Then the work to fix it would be much much smaller. Since I am not a python developer, i need to lea

[2016-04-25 09:03] PanderMusubi opened #24 "Add Twitter Emoji"
Please support SVG symbols from EmojiOne™ (emoji CC-BY)  https://github.com/Ranks/emojione and Twitter Emoji for Everyone (twemoji CC-BY) https://github.com/twitter/twemoji

[2016-04-25 09:27] Xaviju commented on #24
I love it! What a great suggestion!

[2016-04-25 10:13] Xaviju commented on #24
I've just uploaded the Emoji One SVG sprite that they offer on the repo. Its a little bit too large and takes some time to load. Could you test it and tell me how is the user experience? https://github.com/Xaviju/inkscape-open-symbols/commit/b0799c8eac0bbd5d47ff0677d390415aef224896

[2016-04-25 10:14] Xaviju commented on #24
![emojione](https://cloud.githubusercontent.com/assets/1343702/14780853/40a208d4-0adf-11e6-8236-c00331c1c017.png)

[2016-04-26 08:42] PanderMusubi opened #25 "Add Visio-like symbols for network diagrams"
Please, add Visio-like symbols for network diagrams from http://libregraphicsworld.org/blog/entry/diagramming-with-bling Note that these need to be exported from LibrOffice drawings to SVG. That is possible, but needs to be done in an automated way in case of that is required to do again for an update.

[2016-04-26 08:50] PanderMusubi commented on #24
Yes, it works. Thanks! Can you add the twemoji too?

PS How do you get Inkscape in a dark theme as is in your screenshot?

[2016-04-26 08:52] PanderMusubi commented on #24
Ah, found this on the command line:

    /home/pander/.config/inkscape/symbols/emojione.sprites.svg:13240: parser error : Opening and ending tag mismatch: defs line 14 and svg
        </svg>
              ^
    /home/pander/.config/inkscape/symbols/emojione.sprites.svg:13241: parser error : Premature end of data in tag svg line 2

which needs fixing. See also related problems in https://github.com

[2016-04-26 08:55] PanderMusubi opened #26 "Promotional video or screencast"
When the current supported symbol collections function all without errors, a video or screencast could be made. The aim is to draw more attention to the awesome powers of this project and Inkscape and the pakcaging of this project for Debian, Ubuntu etc.

Many graphical designers and other potential users of Inkscape could be motivated to start using Inkscape because of this powerful feature.

[2016-04-26 10:47] Xaviju commented on #26
Would be nice, but I will no have time, neither the knowledge to do it correctly. If anyone is interested in helping with this it would be awesome.

[2016-04-26 10:49] Xaviju commented on #24
The dark theme is inherited of my desktop theme.
Good catch, seems a bad closed SVG tag.

[2016-04-26 10:56] Xaviju commented on #25
I've asked the libreOffice design team to know if they have the SVGs

[2016-04-26 13:29] rejhgadellaa commented on #25
<thumbsup/>

[2016-04-26 15:50] Xaviju commented on #24
Should be fixed here. https://github.com/Xaviju/inkscape-open-symbols/commit/19cb67d9d119baa00409f0a602bb22faf442e18b

Could you please test it? I've also renamed it so better remove the previous one.

[2016-04-26 15:51] Xaviju commented on #21
Sadly, those icons should be redone. :(

[2016-04-26 16:02] PanderMusubi commented on #21
Don't follow. Waht exactly?

[2016-04-26 16:05] PanderMusubi commented on #24
Fixed. Thanks.

[2016-04-26 16:06] PanderMusubi commented on #24
Awaiting ones frm Twitter. Sorry for closing too soon.

[2016-07-20 10:02] #21 closed

[2016-10-02 21:22] victorwestmann commented on #26
I agree with this suggestion. +1 vote from me. Which software should one use to make this happen? And what should be recorded? How to use Symbols inside Inkscape?

[2016-10-03 11:36] Xaviju commented on #26
Don't know about screencast software (Ubuntu recommends: https://help.ubuntu.com/community/Screencast) but it would be nice to show how to add and use the icons.
English is not my mother tongue so it would be better if an English-speaker helps with this.

[2016-10-03 17:33] Moini opened #32 "Licences of the respective Icon Sets could be more visible"
I've been looking to find the licences for the icon sets. While the licence of the repo is GPLv2, the licences of the respective icon sets differ, some are incompatible (I don't think it's a problem, as this is just a compilation, but IANAL) - and I cannot find them inside the files themselves.

I think it would be comfortable for the user to see how and under which circumstances they may use the

[2016-10-04 06:44] Xaviju commented on #32
You're right.
We should add the icons license in the SVG sprite metadata and in the README next to the icon set name.

[2016-10-05 06:49] Xaviju commented on #32
I've updated all of them with their respective licenses. https://github.com/Xaviju/inkscape-open-symbols/commit/4292a7daac7dd10ec7bea5e84441b4d62e7e445c

[2016-10-05 14:44] Moini commented on #32
Thank you, @Xaviju !!!

[2016-10-05 14:45] Moini commented on #32
(didn't you say you wanted to add the info to the readme, too?...)

[2016-10-05 14:46] Xaviju commented on #32
Yes! reopening!

[2016-10-09 23:53] victorwestmann commented on #32
Emoji one = CC BY 4.0 (Attribution) http://emojione.com/licensing/
Font Awesome = SIL OFL 1.1 http://fontawesome.io/license/
Genericons = GPL v2 LICENSE.TXT from https://genericons.com/
Gnome Icon Theme = CC BY SA 3.0 https://github.com/GNOME/gnome-icon-theme-symbolic/blob/master/COPYING
Humble UI = ? https://github.com/Xaviju/inkscape-open-symbols/wiki/Humble-UI
Google Material Design Icons = Apa

[2016-10-11 08:36] Xaviju commented on #32
Thanks @victorwestmann I'll add it to the README

[2016-10-11 08:36] #32 closed

[2016-10-11 08:39] PanderMusubi opened #33 "Similar project for sound notifications"
Are some people here interested to start a similar project for audacity (or another sound editing software) with sets of sound notifications?

[2016-10-11 14:40] Moini commented on #32
Thank you, @victorwestmann and @Xaviju !

[2016-10-12 15:22] victorwestmann commented on #33
Do you already have the library with you or we would start everything from scratch?

[2016-10-12 16:30] PanderMusubi commented on #33
I have a library in a DEB-package. Will add notifications from GNOME et cetera and put it up for refactoring and extending. Good way to start?

[2016-10-12 16:31] PanderMusubi commented on #26
A short article for Libre Grahics Magazine and related websited would also be helpful for the project.

[2016-10-12 16:53] victorwestmann commented on #33
Is it already vector based and needs some cleaning or would it need to be
vectorized?

On Oct 12, 2016 9:30 AM, "Pander" <notifications@github.com> wrote:

[2016-10-12 17:00] PanderMusubi commented on #33
Ah, it would be a library for audio files, which can be used in relation to icons. So mostly notification sounds. No vectorisation there. More OGG files and such.

[2016-10-12 17:14] Xaviju commented on #26
I thought LibreGraphics Magazine was dead after this announcement -> http://lists.libregraphicsmag.com/pipermail/libregraphicsmag-libregraphicsmag.com/2016-March/000213.html isn't it?

If not, can you point me to a how to contribute?

[2016-10-12 20:50] PanderMusubi commented on #26
Ah, too bad. Well, there is also http://libregraphicsworld.org/ and their G+ stream. We could ask them to do an article or provide one.

[2016-10-13 05:53] Xaviju commented on #26
@PanderMusubi I'm writting to libregraphicsWorld today.
I'm thinking that it might be interesting to have a simple website as well. :)

[2016-10-13 17:49] PanderMusubi commented on #33
Sorry to (ab)use this issue. Please see what packages are interesting to add by looking at:

`find /usr/share/ -name '*.ogg'|more`

`find /usr/share/ -name '*.ogg' -exec dpkg -S {} \;|more`

`find /usr/share/ -name '*.ogg' -exec dpkg -S {} \;|awk -F ': ' '{print $1}'|sort|uniq`

[2016-10-13 17:50] PanderMusubi commented on #33
I will start with:
* indicator-power
* ubuntu-sounds
* gnome-control-center-data
* gnome-shell-pomodoro-data

[2016-10-25 11:21] PanderMusubi opened #34 "Add Note's emoji"
Please, add Note's emoji:

https://github.com/googlei18n/noto-emoji/tree/master/svg

[2016-11-14 17:06] PanderMusubi opened #35 "Remove execute rights from file internet-symbols.svg"
Please, remove execute rights from file internet-symbols.svg

[2016-11-14 17:08] PanderMusubi opened #36 "Add representable PNG for each collection to README.md"
Please, add representable PNG for each collection to relevant section in README.md

[2016-11-14 17:09] PanderMusubi commented on #36
This improves the showcase.

[2016-11-15 13:10] PanderMusubi opened #37 "Errors with emoji one"
Please fix these erros with emoji one:

    .config/inkscape/symbols/emojione.svg:13285: parser error : Opening and ending tag mismatch: desc line 14 and sv
    </svg>
          ^
    .config/inkscape/symbols/emojione.svg:13286: parser error : Premature end of data in tag desc line 14
    ^
    .config/inkscape/symbols/emojione.svg:13286: parser error : Premature end of data in tag svg line 2

[2016-12-06 22:28] tstackhouse opened #38 "OSA Icons"
OSA Icon set for creating network diagrams: http://www.opensecurityarchitecture.org/cms/library/icon-library

Thanks for putting this together :+1:

[2016-12-07 10:33] Xaviju commented on #38
@tstackhouse thanks for the iconset suggestion. :)

[2016-12-14 14:00] PanderMusubi opened #39 "Add SJJB map icons"
Please, add SJJB map icons from http://www.sjjb.co.uk/mapicons/contactsheet Note, these are also used by OpenStreetMap

[2016-12-14 14:21] PanderMusubi opened #40 "Add LibreSymbols"
Please add Libre Symbols from https://github.com/sschmidhuber/LibreSymbols

[2016-12-14 14:27] PanderMusubi commented on #39
PS The project is not dead, only that particular repo is.

[2016-12-14 14:48] PanderMusubi opened #41 "Add VRT network icons for Visio-like designs"
Please add VRT network icons for Visio-like designs. see http://libregraphicsworld.org/blog/entry/diagramming-with-bling and http://www.vrt.com.au/downloads/vrt-network-equipment

These icons are available in a vector format for LibreOffice and OpenOffice.org and need to get converted to SVG. For this a conversion script should be developed.

[2016-12-14 21:28] Xaviju commented on #39
I've been trying to convert this icons, but the SVG code is basically unusable without previous work. It could be used as an Inkscape editable, but not as an SVG icon. It will take ages to convert them to symbols manually.
Basically, each icon has multiple stacked paths and shapes. Most of them could be converted to a single path.
If someone has the time to convert the symbols, I'll be happy to me

[2016-12-14 21:46] Xaviju commented on #18
This icons are already available :tada: https://github.com/Xaviju/inkscape-open-symbols/commit/39738e6f7e03e5b8b48d8d823a472eeed505eb2e

Enjoy

[2016-12-14 21:46] #18 closed

[2016-12-15 07:20] Xaviju commented on #41
This issue was already opened by @PanderMusubi here #25
Since they do not provide SVG files I opened an issue that is still not solved: https://bitbucket.org/vrtsystems/odf-extension-vrt-network-equipment/issues/3/icons-in-other-formats

Please request this SVG icons to the VRT team

Thanks

[2016-12-15 07:20] #41 closed

[2016-12-15 07:24] Xaviju commented on #40
Please follow this issue in the LibreSymbols repo: https://github.com/sschmidhuber/LibreSymbols/issues/10

[2016-12-24 11:26] legrostdg opened #44 "add Open Source license to Weatherize symbols"
In the README, Weatherize's license is set to "No license or website found.", so it is proprietary. If so, shouldn't it be removed from inkscape-open-symbols?

[2016-12-24 12:01] legrostdg opened #45 "release inkscape-open-symbols"
It would be great to have a github release of inkscape-open-symbols. (It would help packaging for Debian)

[2016-12-24 12:36] legrostdg commented on #44
@jlar0che: You are the author listed in inkscape-open-symbols's README.md. Would you consider publishing Weatherize with an open source license?

[2016-12-24 13:01] legrostdg opened #49 "rename ionic to iconic?"
Shouldn't `ionic` be renamed to `iconic` (and `ionic/ionic.svg` to `iconic/iconic.svg`)?

[2016-12-24 16:47] Xaviju commented on #49
You are right: done https://github.com/Xaviju/inkscape-open-symbols/commit/f08498432be5c554ad02e325d309572b333a6bbe

[2016-12-24 16:47] #49 closed

[2016-12-24 16:54] Xaviju commented on #44
You are right @legrostdg if they are not open it should be removed. Sorry and thanks for pointing thi out.
Hopefully, @jlar0che will license this amazing symbol set as Open Source.

What do you say @jlar0che ?

[2016-12-24 17:12] Xaviju commented on #45
Thanks for the suggestion. I didn't know this could be useful for packaging!
I guess once its sorted out all the required information from weather icons it would be ok to create a **1.0.0 release**. What do you think?
Will I need to include all the svg files zipped so it can be simply unzipped into the inkscape symbols folder? Or maybe only creating the release tag would be enough?
Thanks for your

[2016-12-25 17:57] jlar0che commented on #44
That seems to be a mistake. Everything I've done for Inkscape Open Symbols is Open Source.

[2016-12-25 18:05] jlar0che commented on #44
Feel free to change the license on all my contributions to Open Source

[2016-12-25 19:19] Moini commented on #44
@jlar0che: There are quite a lot of different F(L)OSS licences, and nobody but you can add one to your works :) ('Open Source' only means that people are allowed to read the source code, this doesn't say anything about sharing, making derivations, attribution,...).

I'd suggest you use CC0, CC-By, or CC-By-SA, as the licenced contents is basically art, not so much code.
If you use CC-By-SA or CC-B

[2016-12-25 20:23] jlar0che commented on #44
I was trying to speed up this process because I won't be able to get to it
since I'm out of town. I'll get to it, but not for a few days at least - I
won't get back home till the end of the first week of January.

On Sun, Dec 25, 2016 at 2:19 PM, Moini <notifications@github.com> wrote:

[2016-12-26 11:00] Xaviju commented on #44
No problem @jlar0che thanks for your interest in adding an Open Source license! Please let us know which license have you chosen once you did it so we can reference it from the repo so everyone knows that it can be used safely.
It would be even better if you publish you set in your github profile and add an OS License there.

Let me know if I can help

[2016-12-26 14:46] legrostdg commented on #45
It's easy to create releases on github: https://help.github.com/articles/creating-releases/
You just create the release, github adds the .zip, .tar.gz for you :-).
If it just takes a few days, we can of course do that after #44 is solved. I'll just wait a little bit more to create the Debian package.

[2016-12-26 14:49] legrostdg commented on #44
@jlar0che just to be sure: you are the author of weather icons (and did not only convert these to svg from another source), right?

[2016-12-26 20:06] Xaviju commented on #44
Yes, he did it according to this PR: https://github.com/Xaviju/inkscape-open-symbols/pull/28

[2016-12-26 20:27] legrostdg commented on #44
OK!

[2016-12-26 22:41] PanderMusubi opened #50 "Add isotype"
If legally allowed and vectorised version can be found, please add support for isotype, see also http://www.gerdarntz.org/isotype

[2016-12-26 22:58] Moini commented on #50
See http://www.gerdarntz.org/content/copyright

Quote:
"The Gerd Arntz web archive is intended for educational and informative purposes only. Any use of any of the images from the website without permission by Pictoright/Gerd Arntz Estate is prohibited."

So no, this doesn't appear to be possible. Of course, you can try to contact the copyright holders, and ask for permission, if you like.

[2016-12-26 23:19] Moini commented on #39
@Xaviju:
- There are some three-color icons in the set. What should be done with those? (use opacity to get the third color?)
- Should all paths of the same color in an icon be unioned?
- Stroke to path is probably fine for most cases, right?
- Should the outside strokes of the squares be removed?
- I'd make two versions: one white with dark square in bg, one dark, without the square. Which colors

[2016-12-27 08:20] Xaviju commented on #39
Wow, you have almost created a symbol creation FAQ @Moini

- There are some three-color (and even four-color) icons in the set. What should be done with those? (use opacity to get the third color?)
I'd rather use opacity instead of color. Only use the color when absolutely required by the icon.

- Should all paths of the same color in an icon be unioned?
Yes if possible. It reduces the icon size.

[2016-12-27 10:45] Xaviju commented on #50
We cannot share if it has copyright, but its a very interesting set. I'd love to use some of those isotypes.

[2016-12-27 10:45] #50 closed

[2016-12-27 14:45] Moini commented on #39
Thx!

I'm almost done with the easy ones ;-) (i.e. those with just two colors, didn't look at the other ones before I knew what to do with them).

As I'm not too keen on doing the final conversion to symbol set myself .... - what would be the best format to 'transfer' the data to you?

Currently, all images are in separate files. I'd make two for each symbol (with/without square), and would keep t

[2016-12-27 14:48] Moini commented on #39
Oh, and this I didn't understand:

"Dark square in background: should be merged in a single path, using the background color as a reference and excluding the icons."

- You mean, keep its square shape (which I would have done) or punch an icon-shaped hole into the middle (possible interpretation of the above, but weird to me, sorry for asking)?

[2016-12-27 15:20] Moini commented on #39
... and one more: the files don't have a viewbox, only width and height. Inkscape adds one if you copy-paste into a new document, but that comes with an additional layer... Do you have a suggestion how this can be done quickly from within Inkscape? (yes, I know I could script it...)

[2016-12-27 15:28] Moini commented on #39
Save as -> Optimized SVG, check 'enable viewboxing'. Okay?

[2016-12-27 16:10] Moini commented on #39
Test set attached. Would this be the right way to go on?

[Icons.zip](https://github.com/Xaviju/inkscape-open-symbols/files/674356/Icons.zip)

[2016-12-27 16:54] Xaviju commented on #39
I'll try to look at the code tomorrow morning, but I answer your questions:

-  **what would be the best format to 'transfer' the data to you?**
To me the best way would be a pull request with all the icons in a new folder with both subsets. Attaching a ZIP as you just did its OK as well.

 - **punch an icon-shaped hole into the middle (possible interpretation of the above, but weird to me, sorry

[2016-12-28 09:02] Xaviju commented on #39
I've read the icons.zip code, amazing work. :)

I found some small to fix you'll see below. I've created a branch with the icons so you can work on them: https://github.com/Xaviju/inkscape-open-symbols/pull/51/files

- this code can be removed
[code]
- all the _style_ attributes should be removed if are not for opacity.
[code]
- all the _fill_ attributes should be removed if are not for opacity.
[

[2016-12-28 12:45] Moini commented on #39
There aren't any holes punched into them... I was going to make a third set with those holes instead of white on unset background color, but that would take quite a lot of time. If it's sufficient like this, then I'll defer creation of that set for a bit.

Do you already have some shell script maybe, that does the style cleanup? It must be done manually after working on the files in Inkscape (else

[2016-12-28 13:20] Xaviju commented on #39
@Moini I see, no problem, it makes sense as is now without the holes. :+1:

It won't be too difficult to remove the styles with minor changes in the gulpfile https://github.com/Xaviju/inkscape-open-symbols/blob/master/gulpfile.js I can do that.

[2016-12-28 21:32] Moini commented on #39
Thank you, @Xaviju . I'm almost through with the square ones, only two folders missing.

[2016-12-29 14:11] PanderMusubi commented on #39
Very good work. Also let the latest contributers upstream know about this. Perhaps also mention it and this project in the OpenStreetMap wiki where there is an article on map icon sets.

[2016-12-30 00:24] Moini commented on #39
The square svgs are up here: https://github.com/Moini/inkscape-open-symbols/tree/sjjb-icons
I'll make a pull request when the others are ready, too.

[2017-01-01 03:58] Moini commented on #39
@PanderMusubi : when the icon sets are done, would you do any contacting / news spreading yourself? It seems you already know exactly who would be interested :)

[2017-01-02 13:32] PanderMusubi commented on #39
Yes, no problem

[2017-01-02 14:44] Moini commented on #39
@PanderMusubi : Thanks!

[2017-01-04 14:21] metanerd opened #53 "Python Uniconverter errors/crash"
So I copied the *.svg into home/user/.config/inkscape/symbol.
I open inkscape, open the symbols(shift+control+y) , I select a symbol and drag and drop it onto the inkscape canvas. Several python uniconverter warnings pop up
![uniconverterbug](https://cloud.githubusercontent.com/assets/9913860/21645137/250c4402-d291-11e6-8bba-36df9f43e24a.png)

I don't advise to do this several times. Even xserver

[2017-01-04 14:25] metanerd commented on #53
Sorry, it is a package or inkscape bug. just copied a text and it gave me the same result.
happy new year!

[2017-01-04 14:25] #53 closed

[2017-01-04 17:53] Moini commented on #53
It's most probably a problem with your clipboard manager in combination with Inkscape. See also:
https://bugs.launchpad.net/inkscape/+bug/418242

(disable to make it work)

[2017-01-04 18:12] metanerd commented on #53
Wow, thank you! Probably would have looked forever. Mh that is annoying.

[2017-01-04 18:25] Moini commented on #53
Yes, I know. I've once given a workshop, and one of the participants suffered from this issue. Unfortunately, by then I didn't know how to fix it yet, and it was really annoying... They took it lightly, though, fortunately, and still enjoyed the things that worked :)

[2017-01-05 15:21] PanderMusubi commented on #39
See also https://github.com/Xaviju/inkscape-open-symbols/pull/52

[2017-01-05 15:33] PanderMusubi opened #54 "openstreetmap symbols"
Here is another map icon set to be considered https://github.com/gravitystorm/openstreetmap-carto/tree/master/symbols

[2017-01-05 15:39] PanderMusubi commented on #39
@Moini, I have send an BCC email to those responsible for original SJJB icons and all late forks from where I could find email addresses. Also I have added links on three pages in the OSM wiki on map icons.

[2017-01-05 21:53] Moini commented on #39
Thank you, Pander :)

[2017-01-06 14:56] legrostdg commented on #44
@jlar0che any update? We're waiting for this before making a release (#45) and packaging it for Debian.

Thanks!

[2017-01-06 15:18] jlar0che commented on #44
All my contributions can fall under the CC-By-SA. Thanks.

[2017-01-06 15:22] legrostdg commented on #44
I think you need to be more precise... There are multiple version of CC-By-SA. What would really help would be a repo with your symbols, the name of copyright owner and the complete text of the license chosen.

[2017-01-06 15:25] legrostdg commented on #44
See for example https://github.com/GNOME/gnome-icon-theme-symbolic and https://github.com/GNOME/gnome-icon-theme-symbolic/blob/master/COPYING

[2017-01-07 19:27] victorwestmann opened #56 "Where is symbols folder in Inkscape 0.92? (Mac OSX)"
Hi Guys. Happy new year!

I'm following instructions of this project to install new symbols in my brand new Inkscape 0.92 on a Mac. However this folder does not seem to exist. (~/.config/inkscape/symbols)

Any advices? Thanks in advance.

[2017-01-07 19:32] Moini commented on #56
Create it :)

[2017-01-07 19:32] victorwestmann commented on #56
It seems I found it.
Looks like now it is in the following path:

~/inkscape/share/symbols

I'm going to test this first. If it works I will close this. Thanks!

[2017-01-07 19:43] victorwestmann commented on #56
You were right @Moini I needed to create the folder: (~/.config/inkscape/symbols)

Now it works. Closing. Thanks for your help!

[2017-01-07 19:43] #56 closed

[2017-01-07 20:08] Xaviju commented on #56
Great! :tada:

[2017-01-07 20:26] victorwestmann commented on #45
It would be simply amazing if this could ship with the final installer/package. It should be enabled when the user selects (at least in Windows) custom or full installation. +1 for this! _o/

[2017-01-07 21:14] Xaviju commented on #39
Hey @Moini I've seen that some sprites mixed square and inverted icons in a single sprite. I didn't expected it, but I thinks its not a bad idea. A single file for both square and inverted icons so, in the end, the whole set will consist only of 16 sprites.
See how it looks:
![screenshot from 2017-01-07 22-12-51](https://cloud.githubusercontent.com/assets/1343702/21745213/782fecc8-d526-11e6-9979-8

[2017-01-07 21:25] Moini commented on #39
Should the order be changed? In the other 'sprites' (aka symbol sets) they've made it so the corresponding icons are next to each other.

Not sure what's better, though, from a user point of view. It certainly looks calmer this way, but for the large sets, alphabet ordering is easier to navigate, and icons of the second kind (in the case of the screenshot, the inverted ones) are found more easily.

[2017-01-07 21:29] Xaviju commented on #39
It makes sense to have corresponding icons together.
Since it is a lot of work, first release could display both sets in the same sprite and after that we could reorder it to improve the UX. I'm working on it.
Great work btw, it's a pleasure to work on this cleaned set. :)

[2017-01-07 21:44] Moini commented on #39
That sounds fine to me - thank you!

[2017-01-08 12:06] Xaviju commented on #39
@PanderMusubi  @Moini new symbol sets are here: https://github.com/Xaviju/inkscape-open-symbols/tree/master/sjjb
Could you please test it and ensure it works as expected?

Thanks.

@Moini amazing work. It was really easy to work with the SVGs you created. Very few bugs for so large iconset. Thanks.

[2017-01-08 12:10] Xaviju opened #57 "Create a static website for Inkscape Open Symbols"
It would be nice to have a small static website displaying the list of symbols and how to use them. Something as the README but with better User Experience.

Any ideas on what would be nice to have?

Basics:
- A list of symbols sets
- A basic how to install them on different platforms
- A how to contribute and current contributors.
- Latest releases.

More?

[2017-01-08 12:16] Xaviju commented on #35
I have not a good knowledge of file permissions. Could you check if its fixed now? https://github.com/Xaviju/inkscape-open-symbols/commit/58182309378ca0eed2e45a6b6aeb7cb04abfb60f
If not, could you show me how to remove it?

[2017-01-08 12:16] #35 closed

[2017-01-08 12:20] PanderMusubi commented on #57
A screencast of how to use them

Choose a representative symbol for each symbol set.

Does this project have/need an icon?

https://inkscape-open-symbols.github.io ?

What most people in the non-inkscape world (and largely in the inkscape world) don't know yet, is that this is an extremely powerful addition to a vector drawing program. Many designers of apps and web sites potentially could start u

[2017-01-08 12:21] PanderMusubi commented on #35
Which operating system are you using?

[2017-01-08 12:29] PanderMusubi commented on #39
They work for me. One minor change for the entries in the Symbol set pull down selection, rename "SJJB icons [..." to "SJJB Map Icons [..."

The usage of capitals is conform other entries in that list and the addition of Map explains a bit more on the origin of these symbols.

[2017-01-08 12:37] Xaviju commented on #35
Linux. Specifically I am using Ubuntu or Manjaro.

[2017-01-08 12:38] PanderMusubi commented on #35
Go in a terminal to each directory that contains SVG files and type:

    chmod a-x *.svg

[2017-01-08 12:42] Xaviju commented on #39
Renamed!

[2017-01-08 12:46] Xaviju commented on #35
I've made it and no changes occurred in any symbol set. Nothing to commit

[2017-01-08 12:51] PanderMusubi commented on #35
then all is fine. I also checked latest download and there all is okay too.

[2017-01-08 12:52] Xaviju commented on #35
Thanks!

[2017-01-08 17:12] Moini commented on #39
@Xaviju : It appears to work very well :) Thank you for helping me with them!

Does anyone happen to understand how the icon sets are sorted in the dropdown? They are in seemingly random order for me.

[2017-01-08 17:20] Moini commented on #57
+1 for the icon (how would an icon for icons look like?...), and for the basics @Xaviju mentioned. The other suggestions from @PanderMusubi go beyond the basics, for me, although they're good ideas for later on (of course if someone happens to be at FOSDEM anyway, a short 5-min flash talk could be nice :)).

(Playing with them, I just found another (fun + silly) use: In children's drawing apps, th

[2017-01-08 18:10] PanderMusubi commented on #39
the order needs improving indeed. No idea how that is ordered.

[2017-01-08 18:11] PanderMusubi commented on #57
For sure I will mention it quickly in my talk on FOSDEM next month, but no flash presentations there are possible.

[2017-01-08 18:15] Moini commented on #57
They call it 'lightning talks', but the program is full by now, of course :) (didn't know the dates)

[2017-01-08 18:18] Moini commented on #57
You'll be talking about fonts, right?

[2017-01-08 18:51] PanderMusubi commented on #57
Yeah. You going too?

[2017-01-08 18:58] Moini commented on #57
Nope. We've been thinking about going, to present our software deployment thing, but standing in a booth twice a year is sufficient at the moment. So much else to do! (but I heard only good things about it)

[2017-01-08 19:20] Xaviju commented on #57
Ok so summary of contents of the website for a first MVP we agreed:

- A list of symbols sets
- A basic how to install them on different platforms
- A screencast of how to use them
- A how to contribute and current contributors.
- Latest releases.
- Choose a representative symbol for each symbol set.

About the last one, I'll go with a screenshot of the symbolset instead of a representative icon b

[2017-01-08 19:21] #39 closed

[2017-01-08 19:27] Xaviju commented on #39
Thanks both!

Yeah, symbols order does not makes sense to me, and when the set is large enough, it can be frustrating.
I was thinking of suggestion on the inkscape blueprints a text filtering of the symbol sets in the top of the box. Something like the [_datalist_ tag](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/datalist) in HTML. What do you think?

[2017-01-08 19:46] Xaviju commented on #44
@legrostdg I think would be enough for the release if @jlar0che could answer this two questions and give us the result: https://creativecommons.org/choose/?lang=en

I could add the info it to the icon license and finally publish it.
Publishing the icons in a repo and adding the LICENSE file would be perfect but depends on the available time.

[2017-01-08 23:34] jlar0che commented on #44
The answer is yes, and yes. See below:
Allow adaptations of your work to be shared?

   - Yes
   - No
   - Yes, as long as others share alike

Allow commercial uses of your work?

   - Yes
   - No

On Sun, Jan 8, 2017 at 2:46 PM, Xaviju <notifications@github.com> wrote:

[2017-01-08 23:50] Moini commented on #39
Definitely, filtering symbols, even if just by their name, would be a nice addition to the dialog (even better if it would then allow you to see symbols from different sets with the same meaning).

[2017-01-09 00:09] Moini commented on #39
Bug report for the ordering: https://bugs.launchpad.net/inkscape/+bug/1654902

Filtering seems more involved ;-)

[2017-01-09 02:40] Moini opened #58 "Invalid svg code in symbol sets"
su_v, over at launchpad, found a couple of svg code validity errors while triaging the list ordering bug. I'm attaching her cleaned error console output.

[1654902-inkscape-open-symbols-warnings-092x.txt](https://github.com/Xaviju/inkscape-open-symbols/files/692637/1654902-inkscape-open-symbols-warnings-092x.txt)

[2017-01-09 03:09] Moini commented on #58
(the pr doesn't fix the warnings unrelated to sjjb, but this was a quick fix right now)

[2017-01-09 12:33] su-v commented on #58
Minimal diff to fix remaining warnings: [gist](https://gist.github.com/su-v/d3c37992e4b33a45a9183bce78a666b6)

[2017-01-09 18:20] Xaviju commented on #44
Thanks @jlar0che! The license will be **Creative Commons Attribution 4.0 International License**. I'll update the symbol set with your license.

[2017-01-09 18:20] #44 closed

[2017-01-09 18:24] Xaviju commented on #44
https://github.com/Xaviju/inkscape-open-symbols/commit/8583275aaf44c021c96890230f9a74077918eabe

[2017-01-09 18:27] Xaviju commented on #58
@Moini @su-v Wow, that's awesome, thanks for testing it and for the gist!
I'll fix it ASAP.

[2017-01-09 18:43] legrostdg commented on #45
@Xaviju, now that #44 is fixed, is there still something preventing a release of inkscape-open-symbols?

[2017-01-09 18:46] #58 closed

[2017-01-09 18:47] Xaviju commented on #58
I launched inkscape from terminal with all symbol sets installed and received no errors.

[2017-01-09 18:52] Xaviju commented on #45
Everything seems fine now. Should we create the 1.0.0 release?

[2017-01-09 18:56] legrostdg commented on #45
sure!

[2017-01-09 18:57] legrostdg commented on #45
(or whatever numbering you prefer) 1.0 may be OK, too.

[2017-01-09 19:01] Xaviju commented on #45
https://github.com/Xaviju/inkscape-open-symbols/releases/tag/v1.0

[2017-01-09 19:01] #45 closed

[2017-01-09 20:41] Moini commented on #45
Congrats :)

(Nitpicking follows: for a release, does it make sense to include all those files? I'd only have put the README, LICENSE and the svgs into it, to make it easy for packagers. Neither gitignore, the gulpfile, the template or the subfolder ordering is relevant for a .deb package, I think.)

[2017-01-09 20:51] Moini commented on #58
(It's not the launch of Inkscape that triggered the errors, it's opening the symbols dialog for the first time, because that is when the symbol sets are read. That said, I only get those SPIStyle warnings now. Not sure what they mean, though.)

Anyway, thank you, @su-v and @Xaviju :)

[2017-01-09 21:30] PanderMusubi commented on #39
Voted for it, also my colleagues. Here are some (sort of) related Inkscape bugs to vote for, if you would:
* https://bugs.launchpad.net/inkscape/+bug/1620610 (also related to filtering)
* https://bugs.launchpad.net/ubuntu/+bug/1464270
* https://bugs.launchpad.net/inkscape/+bug/741856
* https://bugs.launchpad.net/inkscape/+bug/1374870
* https://bugs.launchpad.net/inkscape/+bug/1574518
* https://bug

[2017-01-10 00:32] su-v commented on #39
Pander also filed:
* Display icons with name in alphabetically sorted list in symbols dock
  https://bugs.launchpad.net/inkscape/+bug/1514481

[2017-01-10 08:37] Xaviju commented on #45
@Moini no, it doesn't. Only SVG files, readme and license seems perfectly enough. If you create the deb package, please add it to the readme and in the #57 issue to add it to the website.

[2017-01-10 08:49] PanderMusubi commented on #39
Ah, yeah. And even put a bounty on it.

[2017-01-10 09:59] legrostdg commented on #45
It doesn't matter too much to have everything in the archive. It's easy to select only */*.svg. My debian package is almost ready :)

[2017-01-11 10:42] legrostdg opened #61 "inkscape-open-symbols license"
Could you please update your license to GPLv2+ (instead of GPLv2 only)?
GPLv2 is not compatible with the other licenses.

[2017-01-11 10:43] legrostdg commented on #61
you can use https://github.com/Automattic/genericons-neue/blob/master/COPYING.md as a basis.

[2017-01-11 14:36] legrostdg commented on #61
note that I need this to finish the Debian package.

[2017-01-11 14:41] PanderMusubi commented on #61
Perhaps unneeded to ask, this will be a noarch package, right?

[2017-01-11 14:41] Xaviju commented on #61
Yes, I've been discussing with a colleague to understand better if I could change the license to a less restrictive one (MIT), while keeping the license of the current symbols. Actually, there is no much to license in this repo if the symbols remain with their licenses.
After the discussion, I'll probably relicense it as MIT adding a note to the contribution page to warn that all symbols will keep

[2017-01-11 14:50] legrostdg commented on #61
You can't be MIT if you distribute GPL files. Maybe it could work there but I'm not sure...

[2017-01-11 14:57] legrostdg commented on #61
@PanderMusubi the package will be available for all Debian release architectures. I'll upload a source package.

[2017-01-11 15:00] PanderMusubi commented on #61
Please, notify also in https://bugs.launchpad.net/ubuntu/+bug/1464270 where to get it.

[2017-01-11 17:09] niwinz commented on #61
@legrostdg it depends on the package, when you are distributing a source of some application with some kind of modification or as is, you should respect as is the package and release your changes using the same license (in this case gpl). But, when the package like this that contains just a collection of icons, where each collection has its own license, the entire package license does not means no

[2017-01-11 17:20] PanderMusubi commented on #61
Ah, you can ask inkscape package manager to add as suggested package inkscape-open-symbols

[2017-01-11 17:34] legrostdg commented on #61
http://bugs.debian.org/cgi-bin/bugreport.cgi?bug=850821
Here is the discussion about the package (and the license problem).

[2017-01-11 18:14] niwinz commented on #61
@Xaviju will change the package level license to MIT, but independently of that action, there are no compatibility issues because the package level license does not affect the collections issues, **because each one has its own license and we all should respect them as-is**.

[2017-01-11 18:18] legrostdg commented on #61
@niwinz if I get what you say correctly, the package can be under whatever (DFSG compatible) license, right?
Do you think the Debian package could be in whatever (DFSG compatible) license, too?

[2017-01-11 18:28] niwinz commented on #61
What DFSG means?

[2017-01-11 18:30] legrostdg commented on #61
Debian Free Software Guidelines https://en.wikipedia.org/wiki/DFSG.

[2017-01-11 18:40] niwinz commented on #61
Just use the package level license as debian package license but indicating somewhere that the package contains content with multiple different licenses and the user should be aware that using one or other collection implies to be subject to the license of the used icons collections.

However, please wait until @Xaviju changes the package level license to one more permissive such as MIT

[2017-01-11 19:24] Moini commented on #61
Just in case anyone thinks of asking contributors if they're okay with a licence change: I'm okay with any licence that makes it easy for users to use, modify and distribute this collection.

[2017-01-11 19:39] niwinz commented on #61
Thanks @Moini ,

The license change will affect very small amount of files, just concretely the gulpfile and the generate.py file that a re 100% owned by @Xaviju (they does not have any modifications by the contributors).

If you have contributed to some collection that has its own license, it will be untouched, the collections license will not to be changed.

[2017-01-11 19:39] Xaviju commented on #61
Thanks @niwinz, @legrostdg, @PanderMusubi and @Moini! I think is the best idea!
I'm all about making it easy for the users. It will probably help future enhancements of the building tools.

@Moini I brought the details of the discussion here to listen your opinions as well. :)

[2017-01-11 19:50] Moini commented on #61
Oh, I wasn't thinking I was being left out. I was just trying to make it easy, in case it could be important.

[2017-01-11 20:05] #61 closed

[2017-01-11 20:07] Xaviju commented on #61
@legrostdg do you need anything else to  to finish the Debian package?

[2017-01-12 16:07] PanderMusubi commented on #39
To further (ab)use this issue now I have found my audience, also for most of us is to vote for https://bugs.launchpad.net/inkscape/+bug/1512175

[2017-01-12 16:33] Xaviju commented on #39
@PanderMusubi althought this could be interesting for some of us, please try to share only relevant information for the issue, otherways watchers might be receiveng undesired emails. Thanks!

[2017-01-13 11:24] legrostdg commented on #61
@Xaviju Could you make a 1.1 release?

[2017-01-13 11:26] Xaviju commented on #61
Sure. No problem

[2017-01-13 11:29] Xaviju commented on #61
https://github.com/Xaviju/inkscape-open-symbols/releases/tag/v1.1

[2017-01-14 02:23] Moini commented on #57
This is the link for job proposals for the Open Source Design project:

http://opensourcedesign.net/opensrcdesignjobs/

Probably a three- or even just two-page static site would be sufficient, no?
One for presentation, one or two for documentation (with optional space for video). Not sure if more than the current release needs to be listed, we could just link to the list here on gh (but I don't as

[2017-01-14 11:18] Xaviju commented on #57
Done! The form they provide didn't work so I had to do a pull request so it took a bit longer.  https://github.com/opensourcedesign/jobs/pull/142

[2017-01-15 11:15] Xaviju commented on #57
@Moini I won't focus only on iconsets, the project can also provide UI stencils, avatar sets, etc. although icons are the very first thing that comes to our minds because are very useful.

[2017-01-15 11:28] PanderMusubi opened #62 "Question on GNOME icons Theme"
Is the find location icon from GNOME Icons Theme rendered correctly? Please see https://i.imgur.com/eDfA8BL.png The center looks different.

[2017-01-15 11:49] PanderMusubi opened #63 "Rename, improve and extend GNOME Icon Theme Symbolic / GNOME Symbolic Icons"
The GNOME icons currently included are from the `GNOME Icon Theme Symbolic` see https://git.gnome.org/browse/gnome-icon-theme-symbolic Please use `symbols` in the name in this project in the filenames and the name of the symbol sets in Inkscape. Now the sets are called `GNOME Icons Theme` and will be confusing with future additional icon themes from GNOME. Please, use `GNOME Symbolic Icons`. I thi

[2017-01-15 11:58] PanderMusubi opened #64 "Add GNOME Extra Icons"
Please add `GNOME Extra Icons` from https://git.gnome.org/browse/gnome-icon-theme-extras/

Sources are at https://git.gnome.org/browse/gnome-icon-theme-extras/tree/src

Please divide into two sets called `devices` and `mimetypes` respectively as is done in https://git.gnome.org/browse/gnome-icon-theme-extras/tree/gnome/48x48/devices and https://git.gnome.org/browse/gnome-icon-theme-extras/tree/gno

[2017-01-15 12:04] Xaviju commented on #62
Seems like a bug

[2017-01-15 12:07] Xaviju commented on #64
iS this be part of the #63 Symbolic icons or a full new symbol set?

[2017-01-15 12:24] PanderMusubi commented on #64
This is another set. And I will put up requests for two more for GNOME. So end result will be:
* GNOME Symbolic Icons [Apps Set] (existing and issue 63)
* GNOME Symbolic Icons [Actions Set] (  „  )
* GNOME Extra Icons [Devices Set] (this issues)
* GNOME Extra Icons [Mimetypes Set] (  „  )
* GNOME Icons [Apps Set] (another future issue)
* GNOME Icons [Actions Set] (  „  )
* GNOME Icons [Categories

[2017-01-15 13:02] PanderMusubi opened #65 "Add GNOME Icons GNOME Dark Icons and GNOME High Contract Icons"
After `GNOME Symbolic Icons` https://github.com/Xaviju/inkscape-open-symbols/issues/63and `GNOME Extra Icons` https://github.com/Xaviju/inkscape-open-symbols/issues/64 of course also `GNOME Icons`, `GNOME Dark Icons` and `GNOME High Contrast Icons` should be added.

Note that the default icon set is also called Adwaita, and this doesn't make it easier to untangle it all, especially where to find t

[2017-01-15 13:08] PanderMusubi commented on #65
Only for the idea, in 2012, I collected these:

![screenshot from 2017-01-15 14-06-00](https://cloud.githubusercontent.com/assets/198964/21962676/086d8d3a-db2c-11e6-8835-b8d59cc5f0a8.png)

[2017-01-15 13:19] PanderMusubi opened #66 "Add Oxygen icons from KDE"
Please add Oxygen icons from KDE, see https://github.com/KDE/oxygen-icons

Offering of these icons should be similar as the GNOME icons:
* KDE Oxygen Icons [Actions Set]
* KDE Oxygen Icons [Apps Set]
* ...

License is GPLv3

To give an idea, in 2012, I collected this set:
![screenshot from 2017-01-15 14-16-40](https://cloud.githubusercontent.com/assets/198964/21962728/66c28808-db2d-11e6-9d87-9681f

[2017-01-15 18:00] Xaviju commented on #57
Please check the referenced issue for the work being done at Open Source Design if you want to add some feedback

[2017-01-15 19:51] Moini commented on #57
I'll watch and learn, @Xaviju. I'm a total noob to the process (but I agree about the thunderbolt :) - in my very simple understanding, I didn't get the 'open' reference, and it just looked a bit off).

[2017-01-18 01:21] Moini commented on #57
Just had an idea, not sure if it could be built upon:

![bildschirmfoto_2017-01-18_02-18-30](https://cloud.githubusercontent.com/assets/3240233/22046981/7f043af8-dd24-11e6-99b6-89c8c600b1d5.png)

(looking at it now, I think this somehow looks familiar... but can't say what it's similar to...)

[2017-02-20 22:28] PanderMusubi opened #67 "Vote and refine feature request inkscape for adding symbols with bounding box"
Please vote for and refine (when needed) the feature request for inkscape for adding symbols with bounding boxes in order to resize and align these more easily. See https://bugs.launchpad.net/inkscape/+bug/1666329 for this.

Sorry to create an issue for this here but it seems to be the most effective way to reach people that probably will endorse this feature request. Please close it when it has s

[2017-02-21 07:14] Xaviju commented on #67
As long as the issue is related to improve the Inkscape symbols dialog I think this issues are on topic but probably the better communication channels for this issue are [inkscape-user mailing list](https://inkscape.org/en/community/mailing-lists/) and inkscape IRC.

If anyone is thinking of unwatching this repo because of this symbols related issues, please comment here.

[2017-03-01 09:48] joel-jose opened #68 "Add Electrical Symbols"
Please add electrical symbols from:
1. https://upload.wikimedia.org/wikipedia/commons/6/6a/Electrical_symbols_library.svg
2. http://mirror.unl.edu/ctan/graphics/pgf/contrib/circuitikz/doc/circuitikzmanual.pdf (section 4.1 onwards)

There's high demand for this library: https://bugs.launchpad.net/inkscape/+bug/1533355

I had tried creating it by following the tutorial. But the symbols were not edit

[2017-03-01 09:55] Xaviju commented on #68
Hi @joel-jose
Would you mind making a pull request with your symbol set. It might be quite fast to fix the issue. I could help :)

[2017-03-07 06:55] joel-jose commented on #68
I will do that. Thank you!

[2017-04-06 19:35] victorwestmann opened #69 "Instructions"
Hi there, wouldn't it be amazing if we could put the instructions on how to CREATE the Inkscape open symbols icon sets in the Wiki of this project? Alongside video instructions as well. We need to open the doors for volunteers. What do you guys think?

[2017-04-13 19:34] Xaviju commented on #69
I'd love it.
- I created a blog post on how to create the symbols set manually (hard work) for those who does not have a development knowledge https://medium.com/@xaviju/creating-your-own-symbol-library-in-inkscape-0-91-and-make-your-front-end-developer-you-338588137aaf
- I've created some automated tasks here to do most of the ugly work: https://github.com/Xaviju/inkscape-open-symbols/blob/master

[2017-04-13 20:50] victorwestmann commented on #69
I agree with you that a video would be amazing. It would give us minimal
work to do and would speed up things for newcomers.

My current machine, however, has a lot of problems and cannot use a
dedicated graphics card driver. Would you mind if I documented this in
images and numbered instructions for now?

--Victor Westmann

2017-04-13 12:34 GMT-07:00 Xaviju <notifications@github.com>:

[2017-04-14 07:14] Xaviju commented on #69
@victorwestmann A storyboard would be very helpful :)

If anyone is interested in helping out with the text instructions they could also document the many different ways for creating a symbol set.

[2017-04-14 10:23] PanderMusubi commented on #69
I would like to help. Also on creating some screencasts.

[2017-04-14 10:45] Xaviju commented on #69
I am really busy this month and I cannot take the initiative at this moment so thanks @PanderMusubi and @victorwestmann, please let me know if do you need anything to start with this from me.  I will gladly help you as soon as possible.
I volunteer to write the steps using automation tools as gulp, but we could start simply by creating instructions on how to create symbol sets:
- [Using the Inksca

[2017-04-15 01:00] victorwestmann commented on #69
Hi @Xaviju. Not a problem. At all. It's a pleasure to help and contribute with this project. I strongly believe this is very useful for the Inkscape project and that it can convert a lot of new users to the app.

The only thing I would change is to get images of all the steps, and number all the steps. I would give an example with only one symbol though.

The initial instructions I made, all extra

[2017-04-15 21:41] Xaviju commented on #69
@victorwestmann nice.
This is the perfect explanation on how to create a symbol library from the Inkscape UI. It solves the first option, and probably one of the most common user flow for designers.
In my opinion you probably don't need to use images for every step, but a representative one of the _HOW TO..._ section in most of the cases. Its quite self-explanatory.

Do you have acces to the wiki?

[2017-04-16 23:59] victorwestmann commented on #69
Hi @Xaviju thank you for this. I created the first draft of the instructions on the Wiki of this project. Let me know if you want anything changed/different. It's a true pleasure to be able to collaborate to this project! <3

[2017-04-17 22:54] victorwestmann commented on #69
Hi @Xaviju and @PanderMusubi is there anything else you guys want me to do on this particular issue? Can I close this request?

[2017-04-19 03:30] #69 closed

[2017-05-07 12:30] PanderMusubi opened #70 "Upgrade octicons"
Please upgrade octicons to latest version from https://github.com/primer/octicons/releases/

[2017-05-07 15:27] Xaviju commented on #70
Great! Thanks for the heads up!

[2017-06-01 08:35] Xaviju commented on #70
Working on this!

[2017-06-01 10:24] romu70 opened #71 "Can't open Font-Awesome"
Hello,
I'm trying to open the font-awesome.svg from my mac, here are the results of my tries:

- Sketch -> Crash
- Gravit Designer -> "Can't open the file"
- Firefox ->

[code]

I'll try with Inkscape as soon as I've access ot my Fedora station.

[2017-06-01 10:31] Xaviju commented on #71
Sorry @romu70 I have no idea how Sketch or Gravit handle SVG sprites.
Opening an SVG sprite in Firefox should not display anything but a blank page. Anyway, I'm not getting any errors, is it happening with other symbols as well?

Let me know if it works in Inkscape following the instructions in the README

[2017-06-01 10:34] romu70 commented on #71
My bad, I downloaded the html and not the SVG directly.

I re-tried with the correct SVG, and none of those 3 software handle the file correcly. Sketch and Firefox -> blank page, and Gravit refuses to open it.

[2017-06-01 10:40] Xaviju commented on #71
Not displaying anything (or blank) does not mean that they don't handle it correctly.
This is the SVG sprite, so it should not display anything. Would be interesting to know if Gravit or Sketch support standard SVG sprites for symbols and how.

[2017-06-01 10:40] #71 closed

[2017-06-01 12:06] romu70 commented on #71
We can ask them.

[2017-06-01 16:00] Xaviju commented on #70
Closed here https://github.com/Xaviju/inkscape-open-symbols/commit/66e3eb4f60c7e93ce25c7ae9363dc39a621987ef

[2017-06-01 16:00] #70 closed

[2017-06-01 16:02] Xaviju commented on #14
News about this? The link seems broken.

[2017-06-01 16:06] Xaviju commented on #19
No news about this. We might need to make some noise online?
There are a few issues regarding the symbol menu that could be adressed as well. I wish Inkscape could work on this since I have no idea of how to do it myself :(

[2017-06-01 16:06] Xaviju commented on #33
Is this active or should I close it?

[2017-06-01 16:13] Xaviju commented on #68
Hi @joel-jose

- is there any chance I can get those icons in separate files each one with their name? Separating each icon in a single file would make the work lihtning fast.
- I was trying to separate it myself but I have no idea what name give to each of the symbols.

[2017-06-01 16:42] Moini commented on #19
If someone wants to ask the devs, there's the development mailing list. I guess it wouldn't be very difficult to actually add the symbols to Inkscape, code-wise.

However, this would create lots and lots of work for translators, and also slows down the symbols dialog loading quite a bit.
So maybe having a separate package that can be installed somehow would make more sense?

sozi and ink-generator

[2017-06-01 17:00] Xaviju commented on #19
@Moini I understand. I saw that someone created something similar in AUR https://aur.archlinux.org/packages/inkscape-open-symbols-git/ but I have no idea how to create that in Ubuntu. That would be helpful.
Regarding the symbols in Inkscape, I would suggest changing the default inkscape icons for a more applicable Open Source icon pack. I've never used them. But this is my opinion, do you use the

[2017-06-01 18:49] Moini commented on #19
Tbh. I've never really used any of the symbols... neither 'ours', nor Inkscape's stock symbols (where is that 'embarrassed' emoji when you need it?...). I guess they are most useful when you're either making a map, or planning a web page. I've done both, but never at a scale that required symbols.

Making a .deb package isn't really so hard. The hard part is asking for inclusion in official repos,

[2017-06-02 06:32] Xaviju commented on #19
Thanks @Moini
About the PPA, thanks for explaining the possibilities. Then, I think is not worth the effort. For non-technical audience is easier to copy some files into a directory than to use an external PPA. I would rather spend our energy in something that make installing the icons plain simple (click, click) if ever exist.
Yes, I was suggesting replacing the current Inkscape stock symbols aim

[2017-06-02 08:57] PanderMusubi commented on #19
`apt-get install inkscape-open-symbols` is my preferred weapon of choice. Just make sure to submit a new version before each Ubuntu release freeze.

[2017-06-02 10:11] Moini commented on #19
@Xaviju : Ah, okay. Yes, I can't comment much on that - but my guess is that once something is /in/ Inkscape, someone will miss it when it's gone. I don't know how devs think about it.

Once a ppa has been added, updating stuff would be simple (possibly even automatical). Adding a ppa requires you to copy-paste a line into your settings, via UI (on Ubuntu and Linux Mint). For Ubuntu/Ubuntu-based s

[2017-06-02 13:16] Xaviju commented on #19
@Moini thanks! I didn't know that there was a UI for adding PPAs!! So useful! Then yes I would go with the PPA :)
@PanderMusubi How could we do that? Could some users install it via Ubuntu Software Center?

[2017-06-02 13:24] PanderMusubi commented on #19
@Xaviju At the moment it is in the Debian and Ubuntu repositories. Please, contact Félix Sipma felix+debian@gueux.org and CC ubuntu-devel-discuss@lists.ubuntu.com and pkg-multimedia-maintainers@lists.alioth.debian.org

[2017-06-02 13:37] Moini commented on #19
@PanderMusubi : I found it, it's in zesty and artful repos! When has it been added?
(Not available for me, unfortunately, on xenial.)

[2017-06-02 14:13] PanderMusubi commented on #19
https://launchpad.net/ubuntu/+source/inkscape-open-symbols

[2017-06-02 20:27] Xaviju commented on #19
Sorry @PanderMusubi and @Moini I'm not an Ubuntu or Debian user and I'm not sure if I understood well. Do this means that inkscape open symbols will be available to install via `apt-get` or in the Software center in the Ubuntu 17.04 (Zesty Zapus) release?

[2017-06-02 21:00] Moini commented on #19
Yes, it's available for Zesty, and will be available for Artful (version for October). Both are not Long Time Support releases, so probably fewer people will use them.

[2017-06-02 21:09] Xaviju commented on #19
That is so awesome!!! Thanks guys! This is so cool for open source designers!!

[2017-06-02 21:14] Moini commented on #19
(I didn't do anything - it already happened in January. No idea whose initiative it was, in the end. And not sure what to do with updates, and how often...)

[2017-06-02 21:17] Xaviju commented on #19
I have no idea what should we do either. Anyway, thanks!
I'll contact Félix Sipma as @PanderMusubi suggested and let you know in this issue.

[2017-06-03 02:56] victorwestmann commented on #33
I'm still trying to understand what is the purpose of this thread. Could you expand more on this topic?

[2017-06-03 11:58] Xaviju commented on #33
I think @PanderMusubi is figuring out is there is people interested in create collections of audio files in a new repo.

[2017-06-03 12:11] PanderMusubi commented on #33
Yes, that's it.

[2017-06-03 12:17] PanderMusubi commented on #19
I'd suggest to release a version before end of each January and end of each July in order to make it in the next Ubuntu release. Backports and updates are also possible to provide throughout the year. Please fine-tune this with the current Ubuntu package maintainer.

[2017-06-03 12:18] PanderMusubi commented on #19
I'd suggest to release a version before end of each January and end of each July in order to make it in the next Ubuntu release. Backports and updates are also possible to provide throughout the year. Please fine-tune this with the current Ubuntu package maintainer.

[2017-06-03 18:49] victorwestmann commented on #33
Hi @PanderMusubi I would like to join and be part of it. What is the project address? Where will these sounds be used at? Thanks.

[2017-06-06 16:40] PanderMusubi commented on #33
There is no repo yet for it. Perhaps (if it is okay with Xaviju) discuss a bit more here. I think a meta package would cover it as most of these are already available as Debian/Ubuntu package. What I find at the moment is:
* sound only
  * ubuntu-sounds
* more than only sounds:
  * gnome-control-center-data

Please add more as research.

[2017-06-06 17:20] Xaviju commented on #33
@PanderMusubi sure! Only remember to close this issue when the new repo has been created and please add a link here so we can follow the evolution. :)

[2017-06-22 10:56] joel-jose commented on #68
Hi @Xaviju,

Apologies for the delay in responding. I have created separate files for a few of them: https://drive.google.com/file/d/0Bw3patRr3z0KdWRaNUhPVDBRbW8/view?usp=sharing (tried uploading the archive here, didn't work). Can you check if they are in a form you wanted? If yes, I will work on getting all of the symbols in separate files.

[2017-07-05 18:05] Xaviju commented on #68
Hi @joel-jose and sorry for the late reply.
I tried the attached file and yes, that would be perfect.

[2017-07-06 10:12] joel-jose commented on #68
Hi @Xaviju, I have updated the archive with all the symbols: https://drive.google.com/file/d/0Bw3patRr3z0KN2MzbHVkclJLbFE/view?usp=sharing.
The folder structure is just for convenience. All symbols have unique identifiers.
Thank you!

[2017-07-09 12:52] Xaviju commented on #68
Has been merged here https://github.com/Xaviju/inkscape-open-symbols/commit/319737dcac6e49b7988df73f046496bc975c49b6
Please test!
Thanks

[2017-07-10 06:54] joel-jose commented on #68
This is perfect! Thanks a lot!

Just one concern: to edit the stroke width, the symbol has to be converted to a group by Edit>Clone>Unlink Clone. When I do that, the position and the size of the symbol on the canvas changes. This does not happen with other symbol sets. Any workarounds?

I will work on giving descriptive titles for the symbols.

Thanks again!

[2017-07-10 07:01] Xaviju commented on #68
Thanks for testing!
Finally it was more work than expected so I might have created some bugs. I'll compare it with other symbols and check how to fix it.
I set the default stroke width to 2px to ensure that the symbol preview looks good. Please change it or remove it as you like.

[2017-07-10 13:57] joel-jose commented on #68
Hi @Xaviju,
I have fixed the issue mentioned above by removing the `viewBox` attribute from symbols. I have also replaced the `title` tag with the text from `id`. For now, the ids are descriptive enough. I will definitely spend some time later improving the `title` texts. I am not used to GitHub, so I'll just share the updated SVG file here: https://drive.google.com/file/d/0Bw3patRr3z0KTlBsd2ZCWTR

[2017-07-10 13:57] #68 closed

[2017-07-27 09:08] danmaz74 opened #73 "Namespace prefix problems"
I installed the symbols; most of them work and are great, but for font awesome and many suru icons I get:

`/home/daniele/.config/inkscape/symbols/font-awesome.svg:6: namespace error : Namespace prefix cc on Work is not defined
            <cc:Work rdf:about="">
                                 ^
/home/daniele/.config/inkscape/symbols/font-awesome.svg:12: namespace error : Namespace prefix cc on A

[2017-07-29 16:03] Xaviju commented on #73
Thanks for reporting.

[2017-08-31 08:27] PanderMusubi commented on #25
@Xaviju Any response from the libreOffice design team?

[2017-08-31 09:01] Xaviju commented on #25
@PanderMusubi Its status is `enhancement` and priority `minor`. Follow issue here: https://bitbucket.org/vrtsystems/odf-extension-vrt-network-equipment/issues/3/icons-in-other-formats

[2017-09-26 14:52] mairin opened #75 "Add Iron Icons"
https://github.com/PolymerElements/iron-iconset-svg
They are BSD-licensed.

[2017-09-27 06:33] Xaviju commented on #75
@mairin I don't know Polymer very well but seems that this is a component for creating SVG sprites. Does not seem to include any SVG icons by itself.
Polymer, and other google products promote the material design icons that are already available here (a bit outdated, sorry).
Please, let me know what I am missing. Thanks!

[2017-09-27 09:50] PanderMusubi commented on #75
Perhaps politely notify them their build is failing. Better to use a successful build as a starting point for here.

[2017-10-02 18:44] mairin commented on #75
@Xaviju ah my apologies! I don't actually work with the material icon set a lot so i didn't realize it was the same. You can disregard this, I'll close it :)

[2017-10-02 18:44] #75 closed

[2017-10-03 07:33] Xaviju commented on #75
@mairin No problem! thanks for contributing :)

[2017-10-11 10:20] Abdur-rahmaanJ opened #76 "easy browsing"
add a website with icons for easy browsing !

[2017-10-11 10:25] Xaviju commented on #76
Duplicated https://github.com/Xaviju/inkscape-open-symbols/issues/57

[2017-10-11 10:25] #76 closed

[2017-10-19 07:18] Xaviju commented on #73
I think this PR https://github.com/Xaviju/inkscape-open-symbols/pull/77 fixes it. Please test it.
Thanks!

[2017-10-19 07:18] #73 closed

[2017-10-24 23:37] jabiertxof commented on #39
I think symbols need to be updated on the files instad overload the user computer. A script can be done to order It.maybe a inkscape extension and after it export as plain svg to reduce pageload.

[2017-11-16 09:35] bahram-houchmandzadeh opened #78 "CircuiTikz symbols scrambled"
Installed electronic symbols (CircuiTikz) appear completely scrambled and useless (see screenshot attached). All other symbols tested appear fine.
System : Ubuntu 17.04
Inkscape : 0.92.1

![circuitikz](https://user-images.githubusercontent.com/18464285/32884151-afd262f8-cab9-11e7-9de2-92b15f3eaa61.png)

[2017-11-16 09:58] Xaviju commented on #78
Sorry, I have no knowledge of electrical symbols. It actually looks like is broken or bad-formed. It was created at #68 by @joel-jose
I'll review the code but I'll need help to find out what each symbol means and how should it look.

[2017-11-16 10:26] joel-jose commented on #78
I'll take a look at them asap.

[2017-11-16 10:57] joel-jose commented on #78
This is caused by #77. Line 12 of the SVG file `style="fill:none;stroke:black; stroke-width:3px;"` was overwritten to `style="fill:black;stroke:none"`which broke the symbols. I'll create a pull request with the fixed symbols.

[2017-11-16 11:01] Xaviju commented on #78
That was fast! Thanks @joel-jose

[2017-11-16 11:17] bahram-houchmandzadeh commented on #78
Thank you a lot. The problem is indeed solved.

[2017-11-16 11:17] #78 closed

[2017-11-20 09:05] PanderMusubi commented on #66
When doing this, please also consider icons from Tango and LXDE.

[2017-11-27 08:58] PanderMusubi opened #80 "Update Suru"
Probably in April 2018, Suru needs to be updated here. See for more information https://www.patreon.com/posts/15409805 and https://snwh.org/suru

[2017-11-28 09:38] PanderMusubi commented on #19
Here is the schedule for the next release https://wiki.ubuntu.com/BionicBeaver/ReleaseSchedule Please, see of you can do another release in January.

[2017-11-28 09:59] PanderMusubi opened #81 "Emoji Two"
Please add Emoji Two https://github.com/EmojiTwo/emojitwo

See also https://emojitwo.github.io/

[2017-11-28 10:20] PanderMusubi commented on #37
Is this still an issue? I don't see it when I use the symbols installed via apt on Linux or in ~/.config. If nobody can reproduce this on Linux, this can be closed.

[2017-11-28 10:28] PanderMusubi opened #82 "Divide Emoji One (and Two) in eight or four groups"
In a desktop computer with an i3 processor (that performs good with other applications) it takes about half a minute to load the Emoji One symbol set. Each time you select that symbol set. The complete application goes blank and is not responding in that time. Other symbol sets open very quickly.

This is not nice to work for many users. It also happens the first time you open Inkscape after insta

[2017-11-28 10:30] PanderMusubi commented on #81
See also https://github.com/Xaviju/inkscape-open-symbols/issues/82 for dividing in groups

[2017-11-28 12:46] Xaviju commented on #82
That's a neat idea and not hard to develop! On incoming releases of Inkscape this will be easier but still, it makes sense

[2017-11-28 12:50] Xaviju commented on #37
I think it was fixed on an unrelated PR. Closing it. Reopen if necessary.

Thanks @PanderMusubi

[2017-11-28 12:50] #37 closed

[2017-11-28 12:52] Xaviju commented on #19
Many improvements in the recent weeks. Makes sense to release again. I'll try to add a few improvements before the new release. Thanks for the heads up.

[2017-11-28 12:57] PanderMusubi commented on #82
Initially I though Inkscape was hanging or had a major error. sSo if you please can, try to get it in before the next release.

[2017-12-05 17:33] PanderMusubi commented on #81
Some other related info (and icon sets) are https://emojibase.com and https://emojipedia.org

[2017-12-08 08:33] meetdilip opened #84 "Font Awesome 5"
Font Awesome 5 is now available. It would be great to include them into the list. Thanks.

[2017-12-08 19:49] Xaviju commented on #84
Thanks @meetdilip

[2017-12-10 13:19] Xaviju commented on #63
Updated gnome icons with gnome symbolic here https://github.com/Xaviju/inkscape-open-symbols/commit/2173ea24dca2afbfb97ba9fa7bd54143901bded4

Please test before closing the issue

[2017-12-10 19:43] #63 closed

[2017-12-14 16:23] Xaviju commented on #82
I can't find a source of the icons or SVG sprites from EmojiOne that displays to which category each icon belongs in the current inkscape symbol set. Doing it manually could be a really **long** job.
I need a reference or an SVG sprite already assembled (even if it does not work in Inkscape) to divide it in categories.

[2017-12-14 16:24] Xaviju commented on #62
This should be fixed with the last commit

[2017-12-14 16:24] #62 closed

[2017-12-14 16:52] PanderMusubi commented on #82
If you assign this to me for that part, I can find that out.

[2017-12-14 16:53] Xaviju commented on #84
Added: https://github.com/Xaviju/inkscape-open-symbols/commit/cb308d386c5cb37cb8e3c20daa311442a0faae99

[2017-12-14 16:53] #84 closed

[2017-12-14 16:59] Xaviju commented on #82
Thanks @PanderMusubi I've already tried, but failed.

[2017-12-14 17:03] PanderMusubi commented on #82
http://4.bp.blogspot.com/-D7x3BlPScYI/UbArRxEO1LI/AAAAAAAAAI8/sHs7GU8QTe4/s1600/tim+allen.png ;-)

[2017-12-14 17:38] Xaviju commented on #10
Updated

[2017-12-14 17:38] #10 closed

[2017-12-15 08:43] PanderMusubi commented on #82
I have found the data. How would you like to receive it? JSON, XML, TSV or CSV? Lookup table from Unicode code point to category?

[2017-12-15 08:54] Xaviju commented on #82
JSON please :)

[2017-12-15 09:21] PanderMusubi commented on #82
#!/usr/bin/env python3

    # Run in top-level directory of https://github.com/emojione/emojione

    import json

    data = None
    categories = {}

    with open('emoji.json') as json_data:
        data = json.load(json_data)
        json_data.close()

    output = open('category-for-emoji.json', 'w')
    output.write('{')
    first = True
    for code, value in sorted(data.items()):
        c

[2017-12-15 09:41] PanderMusubi commented on #19
Christmas release for under the tree? ;-)

By the way, I don't know how requesting backports work. That might be good to ask as well to the person which upgrades the Debian/Ubuntu package. Then the new release will reach much more users.

[2018-01-07 20:19] Xaviju commented on #19
New release with lots of fixes under the hood and many updated symbols!
https://github.com/Xaviju/inkscape-open-symbols/releases/tag/v1.2

[2018-01-08 12:13] legrostdg opened #85 "CircuiTikz is not public domain"
I'm preparing the update to 1.2 of the Debian package. According to https://github.com/circuitikz/circuitikz, the copyright is:

    Copyright 2007-16 by Massimo Redaelli

    This file may be distributed and/or modified

        under the LaTeX Project Public License and/or
        under the GNU Public License.

So, definitely not public domain. Could you update the info on the README?

[2018-01-08 12:25] Xaviju commented on #85
According to the creator of the symbol package, it comes from this Public Domain file https://commons.wikimedia.org/wiki/File:Electrical_symbols_library.svg

Might be PD the SVG file but not the TeX/LaTeX package? 🤔

[2018-01-08 12:55] legrostdg commented on #85
Is this svg file really CircuiTikz? It is not mentioned anywhere on the page.

[2018-01-08 14:37] joel-jose commented on #85
Hi,
The SVG contains symbols both from the wiki page and CircuiTikZ. I had contacted Massimo regarding this, he had replied saying the package is now maintained by Lindner and Erhardt Stefan. They haven't replied to my query regarding the use of individual symbols. The license refers to the LaTeX package.

[2018-01-08 14:43] legrostdg commented on #85
I'm sure public domain + gpl/latex does not equal to public domain...

[2018-01-08 16:03] Xaviju commented on #85
Ok, so I was wrong, sorry for the misunderstanding.
Please correct me if I am wrong but if the CircuiTikZ is GPL3 and the other symbols are public Domain this symbol set can be redistributed as a derivated work from CircuiTikZ with a GPL3 license.
I can fix that in the readme and in the file if you agree.

[2018-02-04 13:07] PanderMusubi opened #86 "Include (free part of) Glyphicons"
perhaps, include (free part of) Glyphicons. Note, these are only on PNG. so first discuss if this is okay or not. See https://glyphicons.com

[2018-02-04 13:16] PanderMusubi opened #87 "Support Ionicons"
Support Ionicons, see http://ionicons.com and https://github.com/ionic-team/ionicons

[2018-02-04 23:36] ofloveandhate opened #88 "brew recipe?"
golly gee, i sure would love to be able to `brew install inkscape-open-symbols`

[2018-02-08 07:17] Xaviju commented on #85
Recently spoke with a person with vast knowledge about licenses and his recommendation is to convert all the CircuiTikZ icon set to GPL3 license as I thought.
I'll do it as soon as possible and release a new version.

[2018-02-09 05:07] brycenesbitt opened #89 "architectural symbols"
Could you add symbols for architectural drawings?  Smoke detectors, electrical outlets, appliances, etc?

[2018-02-09 12:13] Xaviju commented on #89
Usually in this repo we convert previously created symbols from os/libre sets. If anyone knows a os architectural symbol ser or is interested in creating one I'll be happy to convert it to inkscape symbols.

[2018-02-12 11:28] PanderMusubi commented on #89
FreeCAD has these. Have a look at
https://github.com/FreeCAD/FreeCAD-symbols/ and other sources for what can be included here

[2018-02-26 16:25] Xaviju commented on #85
Fixed and released!

[2018-02-26 16:25] #85 closed

[2018-02-26 17:16] Xaviju commented on #45
He is added to the issue recently closed. Thanks @PanderMusubi

[2018-02-27 11:43] legrostdg commented on #85
I'm not sure about the licensing... Could you update the README with the valid CircuitTikz license? Who is the copyright holder of the icon set in inkscape-open-symbols? Did he agreed to change the license or did you just change it yourself?

[2018-02-27 12:44] legrostdg commented on #85
OK, you used the license from  https://github.com/circuitikz/circuitikz

[2018-02-27 12:51] Xaviju commented on #85
Yes @legrostdg sorry if I did not updated the README. I'll do it asap.
Since some of the icons are public domain and some of them are from circuitikz (GPLv3) I've used the circuitikz license.

[2018-03-26 18:46] agharaafat opened #90 "no thing in symbols [fedora user]"
Hello,
i'm using fedora with inkscape .92
and trying to add font awesome
i'am created new folder with path "/.config/inkscape/symbols" and added _inkscape-open-symbols_ files in "symbols" folder, but no thing shown in symbols except one icon from Material  Design icon
!
[screenshot from 2018-03-26 20-42-53](https://user-images.githubusercontent.com/37812818/37926015-7986c71e-3136-11e8-903f-454b656

[2018-03-29 17:13] #87 closed

[2018-03-29 17:14] Xaviju commented on #87
Closed and icons supported :tada:

[2018-04-03 10:10] PanderMusubi opened #91 "Support IMKL2015"
Please support IMKL2015 symbols. IMKL translates as Information Model Cables and Conducts. These symbols have been designed for documenting digital messages with respect to utility networks in the Netherlands. It is part of a Dutch standard according to a European standard. The license is public domain since it is a government standard.

The SVG files can be found at https://github.com/Geonovum/im

[2018-04-03 10:13] PanderMusubi opened #92 "Support IMGeo"
Please support IMGeo symbols. IMGeo translates as Information Model Large-Scale Geography. These symbols have been designed for documenting basis-registration large-scale topography in the Netherlands. It is part of a Dutch open standard. The license is public domain since it is a government standard.

The SVG files can be found at https://github.com/Geonovum/IMGeo/tree/master/symbool/2.1 (or at h

[2018-04-04 13:45] PanderMusubi opened #93 "Refactor licenses in README"
Shall we refactor the license info in README https://github.com/Xaviju/inkscape-open-symbols#symbol-sets-licenses in a way that it looks like:
* MIT:
    * SymbolSetA
    * SymbolSetB
* CC-BY-SA 4.0:
    * SymbolSetC
    * SymbolSetC
* et cetera.

In that way, all symbol sets are grouped per license.

[2018-04-04 16:13] PanderMusubi commented on #93
Will add that to pull request for issues 91 and 92.

[2018-05-28 16:18] PanderMusubi opened #94 "Support grunticon"
Please, support grunticon. https://github.com/filamentgroup/grunticon

[2018-05-29 09:10] Xaviju commented on #94
:thinking: I think `grunticon` is not a set of symbols but instead a [gruntJS](https://gruntjs.com/) task to generate svg sprites and its fallbacks from a folder of svgs.

[2018-05-29 09:10] #94 closed

[2018-05-29 16:32] PanderMusubi opened #95 "Support jQuery Mobile"
jQuery Mobile has 100 SVG symbols (actually 50 black and 50 white), see https://github.com/jquery/jquery-mobile/tree/master/css/themes/default/images/icons-svg Please support these symbols, perhaps the `-black.svg` version only.

![2018-05-29-183155_1920x1080_scrot](https://user-images.githubusercontent.com/198964/40672298-ab3aab6c-636e-11e8-9255-9136d3cac296.png)

[2018-09-04 14:52] PanderMusubi opened #97 "Update emojione to version 4.0"
Please, update emojione to version 4.0

[2018-09-20 09:39] Xaviju commented on #97
Trying to download the version 4 SVG files but I was not able to do it: https://www.emojione.com/download
Is it still open source?

[2018-10-21 14:42] ibstelix opened #101 "no icons in font-awesome sets"
Hello,
thank very much you for this great job.
For font-awesome sets i cannot see icons after import in inkscape et even if i open it online,
same for gnome.
Best regards

[2018-11-22 12:41] Xaviju commented on #101
Since this is a symbol, you shouldn't be able to see anything online.
If you open the symbols in Inkscape it should be visible under the symbols panel.
Did you follow the readme instructions to import and use the symbols?

[2018-11-22 12:41] #101 closed

[2018-12-05 15:33] flying-sheep opened #102 "Add breeze"
Breeze is IMHO the best symbolic icon set in existence. It’s also very complete and has great guidelines to create new symbols for it that fit in.

https://hig.kde.org/style/icon.html

[2018-12-05 15:48] dszidi opened #103 "Replace Material Icons"
First of all I want to mention that I was about to embark on creating symbols for Inkscape when I came across this repo. Bravo and kudos to you for getting this started.  I just wanted to strongly suggest using the material icon set from https://materialdesignicons.com .

The reason being is that they keep up to date with the upstream icon set, but also have a lot of very good high quality communi

[2018-12-30 20:46] PanderMusubi opened #105 "Support Genericons Neue"
Please support Genericons Neue, see https://github.com/Automattic/genericons-neue

[2018-12-30 20:52] PanderMusubi opened #106 "Support Automattic Social Logos"
Please support Automattic Social Logos, see https://github.com/Automattic/social-logos

[2018-12-30 21:49] PanderMusubi commented on #105
Probably refactor `genericons` directory to `automattic` and let it contain:
* `automattic-genericons.svg`
* `automattic-genericons-neue.svg`
* `automattic-genericons-social-logos.svg`

[2018-12-30 21:49] PanderMusubi commented on #106
Probably refactor `genericons` directory to `automattic` and let it contain:
* `automattic-genericons.svg`
* `automattic-genericons-neue.svg`
* `automattic-genericons-social-logos.svg`

[2019-02-26 11:12] PanderMusubi opened #107 "Support icons from Compiz"
Please, support icons from Compiz

The SVG files can be found at

https://git.launchpad.net/compiz/tree/compizconfig/ccsm/images/scalable

and the license is

https://git.launchpad.net/compiz/tree/COPYING

Offer these as `Compiz Icons [Apps Set]` and `Compiz Icons [Categories Set]`

[2019-03-03 06:45] meetdilip opened #108 "Font Awesome not added in 18.04"
When I tried in Ubuntu 18.04

`sudo apt-get install inkscape-open-symbols`

most of the icons are available through Inkscape, except Font Awesome. How can I add Font Awesome to symbols now ( currently not present ).

[2019-03-04 07:25] Xaviju commented on #108
Sorry, we don't manage `apt` installation through this repo.
To open an issue to ubuntu/debian/* please add it to their repos

- https://packages.debian.org/sid/inkscape-open-symbols
- https://packages.ubuntu.com/cosmic/inkscape-open-symbols

To add it manually, check the instructions on the readme file on this repo.

[2019-03-04 07:25] #108 closed

[2019-03-04 07:29] Xaviju commented on #103
Thanks for the suggestion!
The symbol sets offered in this repo will only be the official ones to keep design consistency. In any case, this resource is very interesting.

[2019-03-04 07:29] #103 closed

[2019-04-09 22:27] jmarca opened #109 "Regarding Arch linux build"
Hi just noticed over at Arch linux (https://aur.archlinux.org/packages/inkscape-open-symbols-git/) that you opened an issue.  The maintainer (I think it is github user @vinipsmaker ; apologies to @vinipsmaker if not!)  said "If the build script is outdated, then we have a case. Could you explain the problem?"

I looked at the build script and it is INDEED out of date.

The build (https://aur.archl

[2019-06-01 03:27] PanderMusubi opened #110 "Fix broken link Suru"
The README has a broken link to Suru. Please fix this.

[2019-06-01 03:29] PanderMusubi opened #111 "Add version numbers in README"
Please, (automatically) add for each collection listed in the README also its version number.

[2019-08-13 17:15] dgengtek commented on #25
For people who are too lazy to export from libreoffice themselves https://github.com/cryptofuture/vrt-sheet-for-dia

[2019-10-04 14:27] kanyi opened #112 "Inkscape snap packages do not read the installed symbols"
Hi!

On Ubuntu 19.04
1. I installed the inkscape-open-symbols.deb package, Inkscape do not see the files.
2. I put the ~/.config/inkscape/symbols/ place the .svg files - nothing.
3. I put on the ~/snap/inkscape/current/.config/inkscape/symbols place the files - nothing.

Any idea?

[2019-10-04 18:25] Moini commented on #112
If that's the correct directory where the snap also saves the preferences file, then I think this is rather an Inkscape snap package issue and should be reported to https://inkscape.org/report .

[2019-10-15 14:49] kanyi commented on #112
Snap working mechanism is a littlebit different. https://ubuntu.com/blog/a-guide-to-snap-permissions-and-interfaces
So, at the moment haven't got access the symbol files.
I created an issue:
https://gitlab.com/inkscape/inbox/issues/1009

[2019-10-16 21:48] mclegrand opened #113 "Add Reactome.org iconset"
https://reactome.org/icon-lib contains 1400 biology-related icons on CC-BY-4.0, which could be interesting to include

[2019-12-08 05:20] PanderMusubi opened #114 "Support Bootstrap icons"
Please, support Bootstrap icons

https://icons.getbootstrap.com/

Their license is MIT

[2019-12-28 06:12] victorwestmann commented on #16
Hi Xaviju. Merry Christmas! Do you know if you were able to make any progress on your python script regarding this? What is the smallest set of icons someone (like me) could try to tackle?

[2020-01-27 10:11] njh commented on #38
I have been looking into this and it is looking trickier than some of the other iconsets because they contain more than just path data.

Do you know if it is possible for Inkscape symbols to contain `<defs>` and `<linearGradient>`?

[2020-01-27 10:24] njh commented on #110
I have edited the README with new links to the Suru icon set in #115

[2020-01-27 10:46] Xaviju commented on #38
I think it does. Could you please share an example of the SVG code to test it?

[2020-01-27 10:50] Xaviju commented on #109
Hey @jmarca seems that the package has been taken by another maintainer and it says that the package has been updated recently.
Would that fix this issue?

[2020-01-27 10:51] Xaviju commented on #110
Thanks!!

[2020-01-27 10:51] #110 closed

[2020-01-27 10:53] Xaviju commented on #112
Hey keeping this issue open to keep track of this fix. Please report when fixed so I can close it

[2020-01-27 18:58] jmarca commented on #109
I’ll check. I don’t use arch, but perhaps I can dummy something up using Docker.

[2020-02-02 02:05] meetdilip opened #117 "Material icons : Two tone and other options"
Hi, I hope you already know that Google Material icons are now available in the following variants.

1. Filled
2. Outlined
3. Rounded
4. Two Toned
5. Sharp

https://material.io/resources/icons/?style=baseline

It would be great if we can have them as a part of Open Symbols. Thanks

[2020-02-02 02:48] meetdilip commented on #117
There was a set of SVG sprites which were named " symbols ". I couldn't use it even after adding them to the usr/share/inkscape/symbols directory. They were shown as " unnamed " and no matter we select any from them, it showed the same " battery " icon set. Attaching the same.

[sprites.zip](https://github.com/Xaviju/inkscape-open-symbols/files/4143485/sprites.zip)

[2020-02-03 11:02] meetdilip opened #118 "Contributing : error when using gulp command"
In 18.04 I installed npm, nodejs and gulp. But when I try the gulp part of the command, I get this error

[code]
I even tried

`sudo apt install gulp-util` without success. What to do ? I am working a Material Icon set.

[2020-02-03 11:24] Xaviju commented on #118
did you `npm install`?

[2020-02-03 11:28] Xaviju commented on #117
Currently there is a Material Design Set `https://github.com/Xaviju/inkscape-open-symbols/tree/master/material-design`.
You should be able to just copy any of the svgs in that folder into the inkscape symbols folder and use it.

If you are updating symbols from Material Design, it would be nice if you put them under the same folder an reorganize it. Thanks!

[2020-02-03 11:43] meetdilip commented on #118
@Xaviju Yes, tried the first option in this guide

https://linuxize.com/post/how-to-install-node-js-on-ubuntu-18.04/

`curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -`

`sudo apt install nodejs`

Then tried `sudo apt install gulp`

I also ran `npm install ` without going into any folder. I hope that will run in the `Home` folder.

Thanks.

[2020-02-03 11:47] meetdilip commented on #117
Yes. I am trying to add other styles. I am already using the one that is available.

[2020-02-03 11:58] Xaviju commented on #118
:thinking: If you can get the `node --version` and the `npm --version` then its wroking correctly. You shouldn't have to install gulp since it should be self installed on this repo.

You should go to the repo root folder and execute `npm install` and should install all the required dependencies.

Anyway, if you are crating a new iconset, this might be deprecated since there is a GUI tool that work

[2020-02-03 12:05] meetdilip commented on #118
I got both ( version ).

I didn't download this repo and zip and extracted it. It was not mentioned anywhere. Not blaming you, I am a beginner.

I see

I want to use Material Two Tone icons as Symbols inside Inkscape like it is available in this repo. Can I do that with https://icomoon.io/ ?

Thanks.

[2020-02-03 13:04] meetdilip commented on #118
Tried in the repo root folder. Still had to install gulp and the same old error

[2020-02-03 13:15] Xaviju commented on #118
Yes, you just drop the files into the GUI and then you can export them as SVG sprite. This SVG can be loaded into inkscape.

I'll check it. Is probably deprectaded

[2020-02-03 13:21] meetdilip commented on #118
Can you please screenshot that option ?

[2020-02-03 13:35] Xaviju commented on #118
![Peek 2020-02-03 14-38](https://user-images.githubusercontent.com/1343702/73657334-60b70c80-4692-11ea-9540-6ae5eaa7beeb.gif)

[2020-02-03 13:35] #118 closed

[2020-02-03 13:44] meetdilip commented on #118
Thanks. I figured out. Was trying on it. The icon is not editable though. The GUI method video you posted allows editing of icons. Please see

![svg symbols](https://user-images.githubusercontent.com/6965443/73657907-3dec1e80-46b9-11ea-8e7b-51c3691d3953.gif)

Is there any fix ?

[2020-02-03 14:05] Xaviju commented on #118
Yeah, that's because it has some inline SVG code that doesn't allow editing.

1. Open the SVG file with a code editor.
2. Remove all the `fill` and `stroke` attributes.

Try again.

[2020-02-03 14:23] meetdilip commented on #118
I used `find and replace` and replaced with " nothing ". Now there is no `fill` at all. By default, there is no " stroke " in the `Action` category. Now all those Two-tone icons are missing from the symbol file. Attaching screenshot

![fill gone](https://user-images.githubusercontent.com/6965443/73660643-996cdb00-46be-11ea-8675-76b4043b7d19.png)

What to do ? Replace fill with something else ? I a

[2020-02-03 14:28] Xaviju commented on #118
Can you please paste the code?

[2020-02-03 15:11] meetdilip commented on #118
Attaching the SVG. I open it with Gedit for the code

[Action 2T.svg.zip](https://github.com/Xaviju/inkscape-open-symbols/files/4148547/Action.2T.svg.zip)

[2020-02-03 18:03] njh commented on #38
This the result of running `svgo` and `gulp` on the icon set.

Lots of `<linearGradient>` with the same id in the XML.

[code]

I will try adding a few icons manually to a document in Inkscape, convert them to symbols and see what the resulting XML looks like...

[2020-02-03 18:22] njh commented on #38
Here are 10 OSA icons put together in Inkscape:
https://gist.github.com/njh/5fcef2b5037bd0be8691d5ad4cb052ac

Importantly, it looks like Inkscape has added `-2` to the end of the `<linearGradient>` ids, to ensure that they are unique.

I could just put the 74 OSA icons (after optimisation using `svgo`) together in a document manually? What should I be careful of?

[2020-02-04 06:45] Xaviju commented on #118
I see in the code that you still have some `fill` attributes. Like this one in the line 27
[code]

[2020-02-04 06:49] Xaviju commented on #118
I fixed your icon set. What did I do?

1. Removed all `fill`attributes
2. Removed all `style` attributes except one in the `svg` tag.
3. Removed `aria-hidden` attribute in the `svg` tag
4. Added `metadata` at the top of the file to give some credits, context and title.

Please review, edit the metadata and test
[Action 2T.zip](https://github.com/Xaviju/inkscape-open-symbols/files/4151772/Action.2T

[2020-02-04 07:20] Xaviju commented on #38
You should create a sprite of SVG symbols. I'd recommend you to use icomoon since is a GUI tool for creating SVG sprites. https://icomoon.io/

You can check the template SVG an ensure that your SVG sprite has all the required information https://github.com/Xaviju/inkscape-open-symbols/blob/master/template.svg

Common recommendations are

1. Remove all `fill` and `stroke` attributes from your inlin

[2020-02-04 08:34] meetdilip commented on #118
May I know how it helps ?

I tried within the document. I still couldn't ungroup it.

[2020-02-04 08:35] njh commented on #38
Thanks, I will give it a go.

[2020-02-04 08:50] meetdilip commented on #118
I placed it inside the `symbols` folder, but it is not under `Current Document` menu. Unable to call it through Inkscape. All other icons sets are visible.

[2020-02-04 08:57] Xaviju commented on #118
You Should not be able to ungroup the icons since they are just symbols, not a path.
If you want to edit the icons you should select the icon and Edit - Clone - Unlink clone

[2020-02-04 09:01] Xaviju commented on #118
Sets the color of the SVG, removing it allows the user to choose the color. Same for stroke

Sets a default attributes and does not allows users to change it. The one at the top sets the view in the preview under the symbols menu in inkscape

This is an accesibility feature for the web, does not make sense here

This sets the title, creator, and basic data about the icons. Will be used by Inkscape

[2020-02-04 09:02] Xaviju commented on #118
Its only i that menu when an icon has been used in the current document. This would be like the symbolset of the current document.

[2020-02-04 09:05] meetdilip commented on #118
I mean, I can see all icon sets, even my own version of Actions. I can pick and drop icons from it. But not able to call/access the one you attached. It is not see under that menu with symbol sets. I hope I am not confusing you.

[2020-02-04 09:30] Xaviju commented on #118
Oh, really? I did it really fast...
No problema, if it already works for you its enough. Would you create the icons and PR so those icons are available for everyone?

Thanks!!

[2020-02-04 09:32] meetdilip commented on #118
I can do that. Do you know what are the license terms from Google ? Are we allowed to modify and re-distribute ?

[2020-02-04 09:37] Xaviju commented on #118
On its repo it says Apache License 2.0 https://github.com/google/material-design-icons/blob/master/LICENSE

[2020-02-04 09:39] meetdilip commented on #118
What does that mean about the symbols ? They don't allow them as a pack yet.

[2020-02-04 09:40] meetdilip commented on #118
These 5 styles are not a part of that repo.

[2020-02-04 09:52] meetdilip commented on #117
@Xaviju Can we discuss here ( if ok with you ).

[2020-02-04 10:50] Xaviju commented on #118
Oh, I thought it was Material icons. Where are they from?

[2020-02-04 10:54] meetdilip commented on #118
It is. They simply have 4 more styles. Only 1 is available in that repo. Which you have already made available. I am not sure why they don't offer them as a part of any repo. We can use these icons as in fa fa-head` in HTML documents.

[2020-02-04 10:55] meetdilip commented on #118
They allow downloading one by one. I had to spend hours downloading a single set. Now more to go. Only if we are clear about the license.

[2020-02-04 10:57] Xaviju commented on #118
So if are Material Icons and you are just offering `flavors` they are part of the same license. This license allows redistribution as long as it keeps the same license (and it is set in the readme).

So I think we are fine. :+1:

[2020-02-04 11:02] meetdilip commented on #118
I see. Ok. I will try to get the full pack. It will take hours, but I can try. :)

[2020-02-04 12:20] Xaviju commented on #118
That's awesome!

[2020-02-04 18:33] njh commented on #38
I had a go with icomoon.io (very nice tool!). Unfortunately it seems to have lost the gradients (and most of the colours), along with some of the image detail:

https://www.aelius.com/njh/tmp/osa-icons-icomoon/demo.html

(compare to the originals here: http://www.opensecurityarchitecture.org/cms/library/icon-library)

Unless you have any other ideas, I think I will have a go at putting them togeth

[2020-02-05 05:17] meetdilip commented on #97
It is not. They only give PNG these days. That too personal use / generate no revenue.

[2020-02-05 07:12] Xaviju commented on #97
Ok. Closing this issue.
Thanks!

[2020-02-05 07:12] #97 closed

[2020-03-17 16:28] Braincoke opened #121 "Support Feather icons"
https://feathericons.com has a nice icon set.

The github is here: https://github.com/feathericons/feather.
The license is MIT : https://github.com/feathericons/feather/blob/master/LICENSE.

[2020-04-23 17:16] PanderMusubi commented on #45
Would it be possible to get a new release and updated package? We are already two years down the road.

[2020-04-24 05:15] Xaviju opened #122 "Transfering ownership of this repo"
Since I am no longer a inkscape user and cannot maintain this large SVG codebase I'm looking to transfer the ownership of this repo to someone who is interested in keeping it up to date.
Please if you are interested explain below would you be interested in maintaining the repo or ask anything.

[2020-04-24 06:41] PanderMusubi commented on #122
You can also make a post at https://opensourcedesign.net/jobs/

[2020-04-24 07:14] pathumego commented on #122
Would Inkscape project be interested in hosting this in their Gitlab setup? But that would mean the  Github-only-community would be missing out.

[2020-04-24 07:29] PanderMusubi commented on #122
It is not so much the hosting I think. Both is git. First find a maintainer, if they want to move it later, fine.

[2020-04-24 07:31] Xaviju commented on #122
Done

[2020-04-24 13:46] Moini commented on #122
Posted to Inkscape's developer chat channel.

[2020-04-28 09:58] PanderMusubi commented on #122
I _might_ be interested in taking over this repo after June, but also need help getting to know all the scripts, pitfalls, etc.

[2020-04-28 15:44] Moini commented on #122
@PanderMusubi Inkscape offers hosting and help, making this an official part of the Inkscape project, at https://gitlab.com/inkscape/extras , if someone would take on maintainership.

@doctormo would be the one to contact about this, if you'd like to join us officially in the summer.

[2020-04-29 07:03] Xaviju commented on #122
Great news!!

@PanderMusubi I can explain the code to you if you want to take over the repo, but actually most of the scrips are outdated and can be deleted. I have been doing it manually and using icomoon for most of the SVG generation work because it does it better and has a decent UI.

@Moini This is awesome! Thanks.

[2020-04-29 14:33] PanderMusubi commented on #117
@Xaviju can we move this one forward? I can also help out.

[2020-04-29 14:48] Xaviju commented on #117
I think it basically requires to update all current Material Design Libraries in this repo to ensure that all SVG symbols have a fill and stroke value. Currently, it only have a fill value.
Its a lot of work and I cannot commit into this now but if @PanderMusubi or @meetdilip have more time go for it and I'l lbe happy to help.

[2020-04-29 14:49] Xaviju commented on #117
My recommendation would be to check if material design has already a SVG sprite so can be copypasted. Other option is to download every icon and create the sprite using [icomoon](https://icomoon.io/) and just edit the final SVG sprite getting the missing partes from the SVG template we have in the repo

[2020-04-29 15:10] PanderMusubi commented on #117
How can `material-design-icons/sprites/svg-sprite/svg-sprite-action.svg` be converted to `inkscape-open-symbols/material-design/material-design-action.svg`? Do you have a script for this?

I prefer first to upgrade the existing filled style and add other styles after that.

[2020-04-29 15:40] PanderMusubi commented on #117
sort of related, a thumbs up for https://github.com/google/material-design-icons/issues/1009

[2020-04-29 16:01] PanderMusubi commented on #117
Some more thumbs up which are important for these icons:
- https://github.com/google/material-design-icons/issues/901
- https://github.com/google/material-design-icons/issues/786
- https://github.com/google/material-design-icons/issues/743

[2020-07-14 06:04] PanderMusubi opened #123 "Replace EmojiOne with its succesor JoyPixels"
Replace EmojiOne with its succesor JoyPixels

https://www.joypixels.com/

[2020-07-14 06:06] PanderMusubi commented on #82
See also https://github.com/Xaviju/inkscape-open-symbols/issues/123

[2020-10-06 12:02] Moini opened #124 "Add inkscape-open-symbols to the Symbols gallery on the Inkscape website"
Hi @Xaviju !

Could you please add a link to your repository at https://inkscape.org/gallery/=inkscape-symbol-set/ ? It would be great if the set could be found more easily by users.

I could do it myself, but I'd prefer if the real owner did it.

Not sure what to use for the license, though. We could add a new one, if needed.

[2020-10-06 13:51] Xaviju commented on #124
Cannot upload just a link, it actually requires an SVG file (a symbol set). This repositiory has too many symbol sets to upload and maintain each of them. Is there an alternative to just link an external resource instead of uploading it?

[2021-01-28 14:29] Xaviju commented on #122
Hi everyone,

With the upcoming release of [Penpot](https://penpot.app/) I am deprecating this repo. This is a last call if anyone wants to take over this repo as a maintainer.
Please read the full issue and, if you are interested, comment here, so we can talk about the transference process.

Thanks everyone.

[2021-01-28 14:56] PanderMusubi commented on #122
I would like to maintain it, but need to worked in, e.g. make a new release.

[2021-01-28 15:14] Xaviju commented on #122
OK @PanderMusubi, I'll begin the transfer process.
Please email me with anything you need to know about the repo. I'll stay around for a while to help you anyway. :)

Thanks

[2021-01-28 15:15] Xaviju commented on #122
Oh sorry I keep this issue open in case @Moini and the Inkscape team has something to say about this: https://github.com/Xaviju/inkscape-open-symbols/issues/122#issuecomment-620687519

[2021-01-28 15:24] doctormo commented on #122
Only that you should consider publishing the symbols on inkscape.org so the new extensions manager can install them as a symbols pack. Come to chat.inkscape.org if unsure.

[2021-01-28 15:43] PanderMusubi commented on #122
Sounds like a good idea, I will discuss this there further.

[2021-03-12 16:15] floppyinfant opened #129 "Symbol Library for Modular Synthesizers"
Please add as a symbol library to your repository.

These were made to visual communicate about sound by the authors of Patch & Tweak, a wonderful book.
http://patchandtweak.com/symbols/
[PT_Symbols_SVG.zip](https://github.com/PanderMusubi/inkscape-open-symbols/files/6131327/PT_Symbols_SVG.zip)

[2021-06-21 19:49] Erioldoesdesign commented on #57
Hi there! this issue is linked in an Open source design.net job: https://opensourcedesign.net/jobs/jobs/2017-01-14-inkscape-open-symbols-ux-ui

Can I close the job request?
(If I don't get a reply in 2 weeks from this date I'll close it :) )

[2021-06-21 20:17] Xaviju commented on #57
Hi @Erioldoesdesign
I opened the job a while ago, and I think it can be closed safely. Sorry I didn't do it before.
Thanks!

[2021-06-21 20:17] #57 closed

[2021-10-17 09:11] nathanal commented on #112
Linked issue is now closed as not fixable in Inkscape because deb and snap packaging can't be mixed.

wrt installing manually, I can confirm that it currently works in snap when pasting an svg to `~/.config/inkscape/symbols` (Inkscape 1.1 (ce6663b3b7, 2021-05-25) snap, Linux Mint 20)

[2021-10-17 12:39] KirstenRK opened #131 "two different svg files with the same name, one working, one broken"
Hi PanderMusubi,
I have been testing symbolsets under Windows and MacOS.
When I download the complete zip file with all the svg's in it, and unzip it, I can install them without a problem.

But when I download for example this single file, weather-icons.svg by going to this link, right click on the svg file and **save link as...** it gives a svg file (162 kB big) that I cannot open at all:
https:/

[2021-10-17 12:47] KirstenRK commented on #131
So, right now it is a conclusion that the bigger download is a html page, not a symbol's set?
We have been disccussing this bug with the symbol's sets under Inkscape here:
[https://gitlab.com/inkscape/inbox/-/issues/4653](url)

[2021-10-19 11:10] KirstenRK commented on #131
On the first link that I give, there is no Raw button. There is a short link with the name weather-symbols.svg. If you right-click it and download it, it downloads a corrupt svg file with the same name as the set that you are looking for.
I say it is a design flaw in the website that makes a lot of people install the wrong file that give bugs in Inkscape.

[2021-10-19 11:43] Moini commented on #131
@KirstenRK Yes, that's because you're looking at the directory, not at the file.

I'm suggesting to close this issue, it's not something that is related to the icon set, only to not being familiar with websites about version control.

[2021-11-08 05:30] yashpalgoyal1304 commented on #24
hi, umh, where does this issue stand of now?? i didnt see these listed in the readme file, so.....

[2021-11-08 11:40] yashpalgoyal1304 opened #133 "improvements in readme.md"
hi, i can clean the readme file and make a merge request. will that be accepted? is there a will to accept changes to those??

[2021-11-08 13:43] yashpalgoyal1304 commented on #133
this question might seem weird/shady, but no shade involved. i am just asking 'cz it takes time to cleanup, and it kinda hurts when the mr gets blantantly ignored in the end. so, better to work on it only if there's a will in upstream to accept :)

[2021-11-08 13:50] PanderMusubi commented on #133
Yes, PRs are being accepted. Why does the README.md need to be cleared for an improvement? Merge requests are not supported here on GitHub, pull requests are.

[2021-11-08 13:54] PanderMusubi commented on #24
Indeed.

[2021-11-08 13:55] PanderMusubi commented on #24
Twemoji is not yet supported, reponing for that reason.

[2021-11-08 15:11] yashpalgoyal1304 commented on #133
no, i meant "clean up" as in to make the source of readme more readable and more maintainable. does that make sense?

[2021-11-08 19:55] #133 closed

[2021-11-08 19:55] PanderMusubi commented on #133
Thanks

[2021-11-08 21:57] PanderMusubi commented on #117
See https://github.com/PanderMusubi/inkscape-open-symbols/commit/9494b3ce771baa9ce6032af09a542d148718c4bd

@yashpalgoyal1304 @qwazix This is not final. See line 17 and 18 in 2-update-material-design.sh

Does one of you know what the correct settings are, or does this differ per icon or icon set?

[2021-11-09 10:22] PanderMusubi commented on #122
@doctormo can you make a new issue regarding your suggestion for the extension manager? Thank I can close this one and we investigate that further in the new issue. Thanks.

[2021-11-09 10:42] PanderMusubi opened #135 "Solve potention security vulnerabilities"
See https://github.com/PanderMusubi/inkscape-open-symbols/security/dependabot what needs to be fixed.

[2021-11-09 10:58] yashpalgoyal1304 commented on #117
link??

[2021-11-09 12:08] PanderMusubi commented on #117
https://github.com/PanderMusubi/inkscape-open-symbols/blob/master/2-update-material-design.sh#L24

[2021-11-09 12:44] yashpalgoyal1304 commented on #117
i am afraid i dont have any knowledge at all about this stuff.

[2021-11-09 13:38] doctormo opened #136 "Publish symbols on inkscape.org"
These symbols can be published on inkscape.org for greater distribution.

[2021-11-09 13:51] PanderMusubi commented on #117
No worries. we will find somone.

Perhaps this is one for you? https://github.com/PanderMusubi/inkscape-open-symbols/issues/135

[2021-11-09 14:03] PanderMusubi commented on #136
Thanks, please elaborate on how, if there is an extension manager or plugin system. (I am not familiar with these parts of Inkscape yet.) This would also solve/reduce packaging e.g. for flatpak, snap, apt-get.

[2021-11-09 14:03] PanderMusubi commented on #122
See also https://github.com/PanderMusubi/inkscape-open-symbols/issues/136

[2021-11-09 14:03] #122 closed

[2021-11-09 14:50] doctormo commented on #136
For a first step, post to https://inkscape.org/gallery/upload/ and select inkscape symbol set as the category.

[2021-11-11 11:21] yashpalgoyal1304 opened #137 "youtube emojis"
youtube shared its new emojis in 2021.October

the emoji corresponding to smile: `😃`
sample link: https://www.youtube.com/s/gaming/emoji/7ff574f2/emoji_u1f603.svg | [web archived link](https://web.archive.org/web/20211111033332/https://www.youtube.com/s/gaming/emoji/7ff574f2/emoji_u1f603.svg)

i dont know what their licencing is, and if they are hosted anywhere as a pack for public etc, but though

[2021-11-23 04:53] yashpalgoyal1304 commented on #137
imagine google co putting some tracker in the src of their svgs 😅🤣🤣

[2021-12-13 07:36] #137 closed

[2022-05-03 13:37] cheznewa opened #139 "A Script To Separate The Symbols"
Hi/Hello is possible to add a script for separate all symbols, from single SVG symbols set (dedictated for inskscape) to individual SVGs separated?

for use other software, not only in inkscape.

Newa Our Master.

[2022-05-04 20:54] cheznewa opened #140 "Add APEX Icons"
https://github.com/oracle/font-apex